---
layout: default
title: Aanleverspecificaties
title-page: Aanleverspecificaties
description: "Allpremiums - premiums & promotionele producten"
keywords: "premiums & promotie artikelen"
---
{% include header.html %}
<section class="page-title-area bg-cover1">
 <div class="page-title-wrapper section-spacing">
    <div class="page-title text-center white-text">
    </div>
 </div>
</section>
<!-- Start Wie zijn Wij -->
<section class="topics-area bg-color1">
  <div class="topics-wrapper section-spacing bminus-30">
    <h1 class="heading-3 text-center">{{page.title-page}}</h1>
    {% include breadcrumbs.html %}
    <a class="back-to visible-lg" aria-label="Terug naar vorige pagina" href="javascript: history.go(-1)"><i class="fa fa-angle-left" aria-hidden="true"></i> Terug naar vorige pagina </a>
    <div class="col-md-6 col-lg-12 tminus-20"></div>
      <div class="container">
        <p>Graag drukbestanden gevectoriseerd aanleveren met teksten in lettercontouren: .AI of .EPS formaat.</p>
        <p>Als alternatief is ook een hoge resolutie Pdf of Jpeg bestand met een minimale resolutie van 300 dpi bruikbaar.</p>
        <p>Bestanden die vanwege een te lage resolutie en kwaliteit niet bruikbaar zijn: bmp / psd / ppt / tif / gif.</p>
        <p>Geef bij het bedrukken met Pantone kleuren, de PMS kleurnummer(s) aan ons door.</p>
        <p>Bij full colour opdruk worden Pantone kleuren omgezet naar CMYK. Dit kan een kleurafwijking ten opzichte van Pantone kleuren tot gevolg hebben. Dit is te voorkomen door bij full color opdruk, een drukbestand opgemaakt in CMYK kleuren aan te leveren.</p>
        <p>Bij het bedrukken van alleen teksten volstaat het om de tekst en het gewenste lettertype te mailen.</p>
        <p>Heeft u geen bruikbaar logo bestand of artwork tot uw beschikking? Neem dan gerust contact met ons op zodat wij u kunnen adviseren om tot een oplossing te komen.</p>
        <a href="tel:{{site.tel-link}}">Telefoon: {{site.tel}}</a>
      </div>
    </div>
</section>
<!-- End Wie zijn Wij -->
