---
layout: doc_full
nav: pdp
cat-url: kauwgom-bedrukken
cat-title: kauwgom bedrukken
title: Bedrukte kunststof dispenser met kauwgom
title-page: 
description: Kunststof dispenser met ca. 10 gram suikervrije kauwgom bedrukt met uw logo. De transparante dispenser bedrukken wij standaard full color zodat ook foto's en afbeeldingen mooi bedrukt worden. Vraag
  een vrijblijvende offerte met laagste prijs garantie aan!
keywords: ''
main-image: "/assets/images/products/bedrukte_kunsttsof_dispenser_met_kauwgom"
carousel:
- image: "/assets/images/products/bedrukte_kunststof_dispenser_met_kauwgom"
columns:
- col: Aantal
- col: Prijs per stuk incl. opdruk en kauwgom
table:
- amount: "500"
  price: "€ 1,45"
- amount: "1.000"
  price: "€ 1,33"
- amount: '3.000'
  price: "€ 1,24"
- amount: '5.000'
  price: "€ 1,16"
jotform-id: "201833576624357"

<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
          <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 500 dispensers</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per 100 dispensers</td>
    </tr>
    <tr>
      <td><span class="table-blue">Inhoud</span></td>
      <td>: ca. 10 gram suikervrije kauwgom</td>
    </tr>
    <tr>
      <td><span class="table-blue">Afmeting</span></td>
      <td>: 62 x 23 x 16 mm</td>
    </tr>    
     <tr>
      <td><span class="table-blue">Opdruk</span></td>
      <td>: full color rondom</td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. instelkosten & transport</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: excl. 21% btw.</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 15 werkdagen</td>
    </tr>  
</tbody>
</table>
<br>
<br>
  <p>Leuke kunststof dispenser met een inhoud van ca. 10 gram suikervrije kauwgom. Uw logo, afbeelding of tetxt wordt full color bedrukt, zodat ook foto's en meerkleurige afbeeldingen heel mooi en kleurrijk voor u afgebeeld worden.</p> 
       
<p>Voorafgaand aan de productie ontvangt u een digitale proef (jpeg bestand), zodat u precies weet hoe de kauwgom dispensers bedrukt worden.</p>
<p><strong>Vraag een vrijblijvende offerte met laagste prijs garantie aan!</strong></p>                    
          <br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->
