---
layout: doc_full
nav: pdp
cat-url: siliconen-polsbandjes-en-armbandjes
cat-title: siliconen polsbandjes
title: 17mm Brede siliconen polsbandjes
title-page: 
description: 17mm brede siliconen polsbandjes voor grote teksten en logo's. Snel leverbaar
  zoals u het wenst met uw tekst en logo bedrukt, gegraveerd of met opliggend reliëf.
  Vraag een vrijblijvende offerte aan!
keywords: ''
main-image: "/assets/images/products/extra_brede_siliconen_polsbandjes"
carousel:
- image: "/assets/images/products/extra_brede_siliconen_polsbandjes"
- image: "/assets/images/products/silicone_polsbandjes_extra_groot"
- image: "/assets/images/products/silicone_polsbandjes_extra_breed"
columns:
- col: Aantal
- col: 1 kleur opdruk
- col: Gravering of opliggend reliëf
- col: Ingekleurde gravering of opliggend reliëf extra opdruk
table:
- amount: "50"
  price: "€ 2,10"
  col3: "€ 2,59"
  col4: "€ 2,88"
- amount: "100"
  price: "€ 1,25"
  col3: "€ 1,63"
  col4: "€ 1,73"
- amount: "200"
  price: "€ 0,75"
  col3: "€ 0,94"
  col4: "€ 0,99"
- amount: "300"
  price: "€ 0,60"
  col3: "€ 0,70"
  col4: "€ 0,73"
- amount: "500"
  price: "€ 0,56"
  col3: "€ 0,63"
  col4: "€ 0,66"
- amount: "750"
  price: "€ 0,54"
  col3: "€ 0,61"
  col4: "€ 0,64"
- amount: '1.000'
  price: "€ 0,38"
  col3: "€ 0,43"
  col4: "€ 0,45"
- amount: 1.250>
  price: op aanvraag
  col3: op aanvraag
  col4: op aanvraag
jotform-id: "200585272264353"
redirect_from:
- "/breed-en-extra-brede-silicone-polsbandje/"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
     <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 50</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per stuk</td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. instelkosten en transport</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: excl. 21% btw.</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 2 weken</td>
    </tr>
    <tr>
      <td><span class="table-blue">Kleuren</span></td>
      <td>: <a class="fa fa-file-text" href="#" onclick="window.open('/assets/pdf/PMS-Pantone-kleuren-overzicht.pdf', '_blank')" class="price"> PMS Pantone kleuren overzicht</a></td>
    </tr> 
  </tbody>
</table>
<br>Wij leveren ook aan particulieren en verenigingen.
<br><br>          
<h3 class="pdp">17mm Brede silicone polsbandjes</h3>
<p>Opvallend breed silicone polsbandje met meer ruimte voor uw tekst, naam of logo. Deze silicone polsbanden zijn maar liefst 17mm breed. Hierdoor ontstaat er voldoende ruimte o.a. twee regels tekst boven elkaar en logo's met kleine details.</p> 
<p>Voordat de productie start ontvangt u een digitale proef (jpeg), zodat u precies weet hoe de polsbandjes gemaakt worden. Wilt u de opdruk na het zien van de digitale proef aanpassen? Doen we graag!</p> 
<br>          
<h3 class="pdp">Allpremiums Silicone Polsbandjes</h3>
<ul>
  <li>altijd met uw eigen tekst of logo</li>
  <li>in iedere kleur leverbaar</li>
  <li>gratis vrijblijvend ontwerp en digitale proef</li>
  <li>mooie 2mm dikke kwaliteit polsbandjes</li>
  <li>combineer verschillende kleuren in uw bestelling</li>
  <li>4 standaard maten of uw eigen maat</li>
  <li>ook met bedrukte binnenkant of per stuk verpakt</li>
  <li>en met individuele nummering of naam</li>
</ul>
<br>
<h3 class="pdp">Speciale effecten</h3>
<p>Silicone polsbandjes kunt u ook met een speciaal effect bestellen:</p>
<ul>
            <li>glow in the dark: +0,04 (1)</li>
            <li>zilveren glitters: +0,10</li>
            <li>gekleurde segmenten: geen meerprijs (2)</li>
            <li>marmer effect: geen meerprijs (3)</li>
          </ul>
<p>(1) Glow in the dark polsbandjes zijn standaard wit van kleur met een groen lichtgevend effect. De opdruk is in iedere kleur mogelijk.</p>
<p>(2) Bij gekleurde segmenten wordt het silicone polsbandje gemaakt met verschillende gekleurde gedeelten naast elkaar. </p>
<p>(3) Bij het marmer effect worden 2 verschillende kleuren door elkaar gemengd. Hierdoor ontstaat er een "wolkerig-marmer" effect.</p>
<br>
<h3 class="pdp">Maten</h3>
<p>Wij leveren brede silicone polsbandjes standaard in 4 verschillende maten. U kunt ook uw eigen maat laten maken.</p>
<ul>
            <li>202x17x2mm: standaard (volwassenen maat)</li>
            <li>190x17x2mm: damesmaat</li>
            <li>180x17x2mm: jeugdmaat vanaf ca. 7 jaar</li>
            <li>150x17x2mm: kinderen ca. 4-6 jaar</li>
            <li>of uw eigen maat</li>
          </ul>
          
<p>U kunt ook verschillende maten in 1 bestelling combineren. Voor iedere extra maat met een opdruk wordt er € 25,00 instelkosten voor de drukzeef berekend. Bij een gravering of opliggend reliëf zijn de kosten € 50,00 voor de mal per extra maat.</p>     
<br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->