---
layout: doc_full
nav: pdp
cat-url: magneten-bedrukken-met-logo
cat-title: magneten bedrukken
title: Doming magneten bedrukken
title-page: 
description: 'Doming magneten bedrukt en afgewerkt met een heldere harslaag voor een
  mooi 3D effect. Wij leveren doming magneten in iedere vorm en afmeting, standaard
  full color bedrukt voor de mooiste weergave van logo en foto. '
keywords: ''
main-image: "/assets/images/products/magneten_dominged"
carousel:
- image: "/assets/images/products/magneten_dominged"
- image: "/assets/images/products/magneet_dome"
- image: "/assets/images/products/magneetje_dome"
- image: "/assets/images/products/magneten_doming"
- image: "/assets/images/products/magneet_doming"
- image: "/assets/images/products/magneet_domed"
columns:
- col: Aantal
- col: Prijs per stuk standaard vorm (1)
- col: Prijs per stuk eigen vorm (2)
table:
- amount: "100"
  price: "€ 2,42"
  col3: "€ 2,66"
- amount: "250"
  price: "€ 0,96"
  col3: "€ 1,06"
- amount: "500"
  price: "€ 0,70"
  col3: "€ 0,77"
- amount: '1.000'
  price: "€ 0,58"
  col3: "€ 0,64"
- amount: 2.500>
  price: op aanvraag
  col3: op aanvraag
jotform-id: "200585036416350"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
          <br>
<p>(1) Standaard vorm magneten: rond, ovaal, vierkant en rechthoek.<br>
  (2) Eigen vorm: wij leveren bedrukte magneten in iedere gewenste vorm.</p>
     <p>Prijzen in tabel op basis van afmeting 25cm2, andere afmetingen op aanvraag. Onder voorbehoud van wijzigingen.</p>     
       <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 100</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per stuk</td>
    </tr>
    <tr>
      <td><span class="table-blue">Opdruk</span></td>
      <td>: full color cmyk met doming</td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. instelkosten en transport</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: excl. 21% btw.</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 7 werkdagen</td>
    </tr>
  </tbody>
</table>
<br>Wij leveren ook aan particulieren en verenigingen.
<br><br>  
  <h2 class="pdp">Bedrukte doming magneten</h2>                   
<p>Bent u op zoek naar bedrukte magneten die echt opvallen? Kies dan voor een doming magneet met eigen opdruk die wij in iedere vorm maken.</p> 
<p>Na het bedrukken van de magneten wordt er een heldere harslaag aangebacht, dit is de "doming". Deze geeft na het drogen een mooi 3D effect. De doming of harslaag zorgt ervoor dat de magneet heel stevig aanvoelt.</p>
<p>De doming magneten worden standaard geleverd met een 0,75mm dik magnetisch vel. Hierdoor kunnen de magneten ook op een memo of white board geplakt worden.</p>  
<p>Voorafgaand aan de productie ontvangt u een digitale proef ter controle en akkoord (pdf bestand), zodat u ziet hoe de magneten voor u gemaakt worden.<p>        
          <br>          
<h2 class="pdp">Magneten met doming bedrukken</h2>
<ul>
  <li>altijd met uw eigen logo, tekst of afbeelding</li>
  <li>in iedere vorm leverbaar</li>
  <li>maximale grootte 100cm2</li>
  <li>0,75mm magneetvel</li>
  <li>geschikt voor memo of whiteboard</li>
</ul>
<br>          <p>Neem voor meer informatie gerust contact met ons op, ook voor het aanvragen van een gratis sample!</p>        
<br> 
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
        {% include form/jotform.html %}
            <!-- Start FORM -->
            {% include form/mag-dom-200585036416350.html %}
           <!-- End FORM -->
    </div>
    <!-- Right Col END - Form -->
