---
layout: doc_full
nav: pdp
cat-url: siliconen-polsbandjes-en-armbandjes
cat-title: siliconen polsbandjes
title: 25mm extra brede siliconen polsbandjes
title-page: 
description: 25mm extra brede siliconen polsbandjes met meer ruimte voor uw tekst
  of logo. Te bestellen met een opdruk, gegraveerd of met opliggend reliëf. Vraag
  een vrijblijvende offerte aan!
keywords: ''
main-image: "/assets/images/products/extra_brede_siliconen_polsbandjes"
carousel:
- image: "/assets/images/products/extra_brede_siliconen_polsbandjes"
- image: "/assets/images/products/silicone_polsbandjes_extra_groot"
- image: "/assets/images/products/silicone_polsbandjes_extra_breed"
columns:
- col: Aantal
- col: 1 kleur opdruk
- col: Gravering of opliggend reliëf
- col: Ingekleurde gravering of opliggend reliëf extra opdruk
table:
- amount: "50>"
  price: "€ 2,30"
  col3: "€ 2,79"
  col4: "€ 3,09"
- amount: "100>"
  price: "€ 1,51"
  col3: "€ 1,86"
  col4: "€ 1,96"
- amount: "200>"
  price: "€ 0,91"
  col3: "€ 1,09"
  col4: "€ 1,14"
- amount: "300>"
  price: "€ 0,77"
  col3: "€ 0,89"
  col4: "€ 0,92"
- amount: "400>"
  price: "€ 0,73"
  col3: "€ 0,82"
  col4: "€ 0,85"
- amount: "500>"
  price: "€ 0,68"
  col3: "€ 0,75"
  col4: "€ 0,78"
- amount: "750>"
  price: "€ 0,59"
  col3: "€ 0,65"
  col4: "€ 0,67"
- amount: '1.000>'
  price: "€ 0,49"
  col3: "€ 0,53"
  col4: "€ 0,55"
- amount: 2.500>
  price: op aanvraag
  col3: op aanvraag
  col4: op aanvraag
jotform-id: "200585636942360"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
          
          <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 50</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per stuk</td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. instelkosten en transport</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: excl. 21% btw.</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 2 weken</td>
    </tr>
    <tr>
      <td><span class="table-blue">Kleuren</span></td>
      <td>: <a class="fa fa-file-text" href="#" onclick="window.open('/assets/pdf/PMS-Pantone-kleuren-overzicht.pdf', '_blank')" class="price"> PMS Pantone kleuren overzicht</a></td>
    </tr> 
  </tbody>
</table>
<br>Wij leveren ook aan particulieren en verenigingen.
<br><br>          
<h2 class="pdp">25mm brede silicone polsbandjes</h2>
<p>Het breedste silicone polsbandje met veel ruimte voor uw eigen ontwerp met een tekst, naam of logo. Deze silicone polsbanden zijn 25mm breed en geven voldoende ruimte voor bijvoorbeeld dubbele tekstregels en logo's met hele kleine details.</p> 
<p>Leverbaar in iedere kleur met zo u wilt een opdruk, gravering, opliggend reliëf, ingekleurde gravering of een opliggend reliëf bedrukt met een extra contrasterende kleur op het reliëf.</p>     
<br>          
<h3 class="pdp">Extra brede silicone polsbandjes bestellen</h3>
<ul>
  <li>altijd met uw eigen tekst of logo</li>
  <li>alle kleuren leverbaar</li>
  <li>gratis vrijblijvend ontwerp en digitale proef</li>
  <li>stevige 2mm dikke kwaliteit polsbandjes</li>
  <li>combineer verschillende kleuren in uw bestelling</li>
  <li>4 standaard maten of uw eigen maat</li>
  <li>ook met bedrukte binnenkant of per stuk verpakt</li>
  <li>en met individuele nummering of naam</li>
</ul>
<br>
<h3 class="pdp">Speciale effecten extra brede polsbandjes</h3>
<ul>
            <li>glow in the dark: +0,04 (*1)</li>
            <li>zilveren glitters: +0,10</li>
            <li>gekleurde segmenten: +0,04 (*2)</li>
            <li>marmer effect: +0,04 (*3)</li>
          </ul>
<p>(*1) Glow in the dark polsbandjes zijn standaard wit van kleur met een groen lichtgevend effect. De opdruk is in iedere kleur mogelijk.</p>
<p>(*2) Bij gekleurde segmenten wordt het silicone polsbandje gemaakt met verschillende gekleurde gedeelten naast elkaar. </p>
<p>(*3) Bij het marmer effect worden 2 verschillende kleuren door elkaar gemengd. Hierdoor ontstaat er een "wolkerig-marmer" effect.</p>
<br>
<h3 class="pdp">Maten extra brede silicone polsbandjes</h3>
<p>Wij leveren brede silicone polsbandjes standaard in 4 verschillende maten. U kunt ook uw eigen maat laten maken.</p>
<ul>
            <li>202x25x2mm: standaard (volwassenen maat)</li>
            <li>190x25x2mm: damesmaat</li>
            <li>180x25x2mm: jeugdmaat vanaf ca. 7 jaar</li>
            <li>150x25x2mm: kinderen ca. 4-6 jaar</li>
            <li>of uw eigen maat</li>
          </ul>
          <br>
<p>U kunt ook verschillende maten in 1 bestelling combineren. Voor iedere extra maat met een opdruk wordt er € 25,00 instelkosten voor de drukzeef berekend. Bij een gravering of opliggend reliëf zijn de kosten € 50,00 voor de mal per extra maat.</p>     
<br>
          <p>Ook nieuwsgierig hoe "uw polsbandje" er uit komt te zien? Vraag dan een vrijblijvende offerte aan en ontvang een gratis digitaal voorbeeld (Jpeg afbeelding).</p> 
          <br>
</div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
       {% include form/jotform.html %}
            <!-- Start FORM -->
            {% include form/sil-25mm-200585636942360.html %}
           <!-- End FORM -->
    </div>
    <!-- Right Col END - Form -->
