---
layout: doc_full
nav: pdp
cat-url: premiums
cat-title: premiums
title: FFP2 Mondmaskers
title-page: 
description: 'FFP2 mondmasker, 4 laags met 95% efficiëntie. CE gecertificeerd en EN
  genormeerd, geschikt voor het gebruik in de gezondheidszorg.  '
keywords: ''
main-image: "/assets/images/products/ffp2_mondmasker"
carousel:
- image: "/assets/images/products/ffp2_mondkapje"
- image: "/assets/images/products/ffp2_mondmaskers"
- image: "/assets/images/products/ffp2_stofmasker"
- image: "/assets/images/products/ffp2maskers"
- image: "/assets/images/products/ffp2_maskers"
- image: "/assets/images/products/ffp2_masker"
columns:
- col: Aantal
- col: Prijs PER STUK excl. 21% btw.
table:
- amount: 20>
  price: "€ 5,00"
- amount: 60>
  price: "€ 4,45"
- amount: 100>
  price: "€ 4,10"
- amount: 260>
  price: "€ 4,05"
- amount: 500>
  price: "€ 3,95"
- amount: 1.000>
  price: "€ 3,70"
jotform-id: "200975177527362"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 20</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per 20</td>
    </tr>
    
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: inclusief transport</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: exclusief 21% btw.</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: op voorraad ca. 1-2 werkdagen (*)</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: niet op voorraad ca. 5-7 werkdagen (*)</td>
    </tr> 
  </tbody>
</table>
<br>
<p><strong>(*) Update per donderdag 9 April: op voorraad.</strong></p>              
<br>
   <h3 class="pdp">FFP2 mondmaskers</h3>               
<p>
   <p>CE-gecertificeerd en getest volgens EN 149: 2001 + A1:2009. Voldoet aan het advies zoals gesteld door het RIVM en de WHO (World Health Organisation).</p>
<br>
          <p>Belangrijk: in de media heeft u wellicht gelezen dat er een grote partij mondkapjes is afgekeurd, die door de overheid is ingekocht. Deze afgekeurde mondkapjes zijn 1 laags en gemaakt van een harder en inflexibel materiaal. Om een goede bescherming te bieden moeten de mondkapjes juist flexibel zijn, zodat ze goed om het gezicht aansluiten. Bovendien moeten de mondkapjes uit meerdere lagen bestaan, om minimaal 95% van de virussen en bacteriën tegen te houden.</p>
<br>
          <p>De mondkapjes die wij leveren zijn flexibel, sluiten goed om het gezicht aan en bestaan uit maar liefst 4 lagen waardoor virussen en bacteriën optimaal gefilterd worden. </p>                 
<ul>
  <li>CE gecertificeerd</li>
  <li>Normering: EN-149: 2001 +A1: 2009 </li>
  <li>4 laags voor optimale filtering van virussen en bacterien</li>
  <li>95% efficiëntie, voldoet aan de minimale eis voor FFP2 </li>
  <li>flexibel materiaal dat goed om het gezicht aansluit</li> 
</ul>  
<br>
<p>Bij het aanvragen van een vrijblijvende offerte ontvangt u per e-mail een uitgebreide productfolder met daarbij ook de certificering.</p>
<p>Heeft u nog vragen of wilt u meer informatie? Neem gerust vrijblijvend contact met ons op, wij helpen u graag verder!</p>
<br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->