---
layout: doc_full
nav: pdp
cat-url: mondkapjes
cat-title: mondkapjes
title: FFP2 KN95 Mondkapjes
title-page: 
description: 'FFP2 KN95 mondkapjes, 4 laags met 96,8% efficiëntie. CE gecertificeerd
  en EN genormeerd, geschikt voor het gebruik in de gezondheidszorg.  '
keywords: ''
main-image: "/assets/images/products/ffp2_mondmasker"
carousel:
- image: "/assets/images/products/ffp2_mondkapje"
- image: "/assets/images/products/ffp2_mondmaskers"
- image: "/assets/images/products/ffp2_stofmasker"
- image: "/assets/images/products/ffp2maskers"
- image: "/assets/images/products/ffp2_maskers"
- image: "/assets/images/products/ffp2_masker"
columns:
- col: Aantal
- col: Prijs per stuk incl. btw & transport
- col: Totaal incl. btw. & transport
table:
- amount: 20>
  price: "€ 4,75"
  col3: "€ 95,00"
- amount: 60>
  price: "€ 4,50"
  col3: "€ 270,00"
- amount: 100>
  price: "€ 3,95"
  col3: "€ 395,00"
- amount: 260>
  price: "€ 3,50"
  col3: "€ 910,00"
- amount: 500>
  price: "€ 3,00"
  col3: "€ 1.500,00"
- amount: 1.000>
  price: "€ 2,75"
  col3: "€ 2.750,00"
jotform-id: "200975177527362"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
          <br><p><strong>Wij leveren ook aan particulieren en verenigingen.</strong></p>
<br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 20</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per 20</td>
    </tr>
    
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: inclusief btw. & transport</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 1-2 dagen</td>
    </tr>
  </tbody>
</table>
          
<br>
   <h3 class="pdp">KN95 FFP2 mondkapjes</h3>               
<p>
   <p>Mondkapje dat ook in de gezondheidszorg gebruikt wordt. Sluit goed op het gezicht aan door het flexibele materiaal, de oorelastieken en de verstelbare neusclip. Draagt prettig door het lichte gewicht en de zachte binnenkant van het mondkapje.</p>

  <p>Voldoet aan het advies zoals gesteld door het RIVM en de WHO (World Health Organisation).</p>        
          
<p>Door de goede aansluiting op het gezicht biedt dit mondkapje ook juist voor het Corona virus bij contactberoepen zoals onder andere tandartsen, mondhygiënisten, schoonheidsspecialisten, kappers, pedicures, nagelstylisten, masseurs en therapeuten een uitstekende bescherming.</p>
          
<p>Het 4-laags materiaal en de 95%> efficiëntie zorgen voor een goede filtering van bacteriën en virussen.  Getest en gecertificeerd conform medische normering:  EN-149: 2001 +A1: 2009.</p> 
<br>             
<ul>
  <li>Voldoet aan advies RIVM en de WHO</li>
  <li><strong>CE gecertificeerd</strong></li>
  <li><strong>Normering: EN-149: 2001 +A1: 2009</strong></li>
  <li>4 laags voor optimale filtering van virussen en bacteriën</li>
  <li>95%> efficiëntie, voldoet aan de minimale eis voor KN95 / FFP2 </li>
  <li>flexibel en comfortabel materiaal dat goed om het gezicht aansluit</li> 
</ul>  
<br>
     
  <p>Helaas kunnen mondkapjes niet geretourneerd worden omdat het een hygiene product is. Ook ongeopende verpakkingen nemen wij niet retour. Het is namelijk niet goed te beoordelen of er iets met het product gebeurd is, ook wanneer de verpakking nog intact lijkt te zijn.</p>            
            
<p>Heeft u nog vragen of wilt u meer informatie? Neem gerust vrijblijvend contact met ons op, wij helpen u graag verder.</p>
          
<p>Vraag een vrijblijvende offerte aan!</p>
<br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->
