---
layout: doc_full
nav: pdp
cat-url: mondkapjes
cat-title: mondkapjes
title: Full color bedrukte mondkapjes met koordjes
title-page: 
description: 'Ful color bedrukte mondkapjes met koordjes. Wij bedrukken deze mondkapjes met uw eigen logo, tekst of afbeelding. Vanaf 500 stuks leverbaar, vraag een vrijblijvende offerte aan!'
keywords: ''
main-image: "/assets/images/products/full_color_bedrukte_mondkapjes_met_koordjes"
carousel:
- image: "/assets/images/products/full_color_bedrukte_mondkapjes_met_koordjes"
- image: "/assets/images/products/mondkapjes_full_color_bedrukt_met_koordjes"
- image: "/assets/images/products/mondkapjes_full_color_bedrukken_met_koordjes"
columns:
- col: Aantal
- col: Prijs incl. full color opdruk 
table:
- amount: 500>
  price: "€ 2,15"
- amount: 1.000>
  price: "€ 1,92"
- amount: 2.500>
  price: "€ 1,75"
- amount: 5.000>
  price: "€ 1,65"
- amount: 10.000>
  price: "€ 1,63"
- amount: 20.000>
  price: "€ 1,60"
jotform-id: "202064799608363"
---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
          <br><p><strong>Wij leveren ook aan particulieren en verenigingen.</strong></p>
<br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 500</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per 50</td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. instelkosten & transport</td>
    </tr>
     <tr>
      <td><span class="table-blue"></span></td>
      <td>: excl. 21% btw.</td>
    </tr>    
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 3 weken</td>
    </tr>
  </tbody>
</table>
          
<br>
   <h3 class="pdp">Mondkapjes met full color opdruk</h3>               
<p>
   <p>Voor het bedrukken van een meer-kleuren logo of afbeelding kiest u voor dit wasbare en herbruikbare mondkapje! De voorkant wordt volledig full color voor u bedrukt. Het mondkapje is 1-laags en voorzien van koordjes zodat het goed past.</p>  
   <p>Deze bedrukte mondkapjes zijn geen medisch hulpmiddel of persoonlijk beschermingsmiddel. Het mondkapje is daarmee niet geschikt voor medisch gebruik en beschermt niet tegen virussen, bacteriën of infecties.</p>
   <br>                 
<h3 class="pdp">Full color bedrukte mondkapjes met koordjes</h3> 
          <ul>
            <li>Geleverd met uw eigen opdruk aan de buitenkant</li>
            <li>De binnenkant blijft wit</li>
            <li>Afmeting gevouwen: ca. 20x9cm</li>
            <li>Afmeting opdruk: ca. 23x21cm</li>
            <li>Materiaal: 100% OEKO-TEX polyester</li>
            <li>Wasbaar op 30 graden</li>
            <li>Per stuk in polybag verpakt</li>
          </ul>
    <br>
<p>Heeft u nog vragen of wilt u meer informatie? Neem gerust vrijblijvend contact met ons op, wij helpen u graag verder.</p>
          <p><strong>Vraag een vrijblijvende offerte aan!</strong></p>
<br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->
