---
layout: doc_full
nav: pdp
cat-url: festivalbandjes
cat-title: Festivalbandjes
title: Geweven festivalbandjes
title-page: 
description: Textiel festivalbandjes geweven met je eigen logo of tekst. Deze stoffen
  geweven polsbandjes zijn geschikt voor alle feesten, evenementen en festivals. Vraag
  een vrijblijvende offerte aan!
keywords: ''
main-image: "/assets/images/products/geweven_festivalbandjes_incl_sluiting"
carousel:
- image: "/assets/images/products/geweven_festivalbandjes_incl_sluiting"
- image: "/assets/images/products/geweven_festivalbandjes_1_1"
- image: "/assets/images/products/geweven_festivalbandjes_2"
- image: "/assets/images/products/geweven_festivalbandjes_4"
columns:
- col: Aantal
- col: Prijs inclusief weving en sluiting
table:
- amount: "50"
  price: "€ 2,00"
  col3: ''
  col4: ''
- amount: "100"
  price: "€ 0,"
  col3: ''
  col4: ''
- amount: "200"
  price: "€ 0,"
  col3: ''
  col4: ''
- amount: "300"
  price: "€ 0,"
  col3: ''
  col4: ''
- amount: "400"
  price: "€ 0,"
  col3: ''
  col4: ''
- amount: "500"
  price: "€ 0,"
  col3: ''
  col4: ''
- amount: "600"
  price: "€ 0,"
  col3: ''
  col4: ''
- amount: "750"
  price: "€ 0, "
  col3: ''
  col4: ''
  col5: ''
  col6: ''
- amount: '1.000'
  price: "€ 0,"
  col3: ''
  col4: ''
- amount: 2.000>
  price: op aanvraag
jotform-id: "200585437274357"
redirect_from:
- "/geweven-festivalbandjes-145/"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
          <table border="0">
            <tbody>
              <tr>
                <td><span class="table-blue">Minimale afname</span></td>
                <td>: 50</td>
              </tr>
              <tr>
                <td><span class="table-blue">Besteleenheid</span></td>
                <td>: per stuk (u kunt er bijv. ook 267 bestellen)</td>
              </tr>
              <tr>
                <td><span class="table-blue">Levertijd</span></td>
                <td>: ca. 2 weken</td>
              </tr>
              <tr>
                <td><span class="table-blue">Leverbare kleuren</span></td>
                <td>: <a class="fa fa-file-text" href="#" onclick="window.open('/assets/pdf/PMS-Pantone-kleuren-overzicht.pdf', '_blank')" class="price"> PMS Pantone kleuren overzicht</a></td>
              </tr>
            </tbody>
          </table>
          <p>Siliconen polsbandjes bedrukken wij helemaal zoals u het wilt, in iedere kleur en altijd met uw eigen tekst of logo.</p>
          <ul>
            <li>gratis vrijblijvend ontwerp en digitale proef</li>
            <li>mooie 2mm dikke kwaliteit polsbandjes</li>
            <li>combineer verschillende kleuren in uw bestelling</li>
            <li>in vier standaard maten of uw eigen afmeting leverbaar</li>
            <li>op aanvraag per stuk verpakt of met opdruk binnenkant</li>
            <li>ook leverbaar met individuele naam of nummering</li>
          </ul>
          <p>Bij langdurig gebruik kan de opdruk na verloop van tijd gaan slijten. Voor een duurzaam effect kunt beter u kiezen voor een <a class="blue" href="https://www.allpremiums.nl/siliconen-polsbandjes-graveren-ingekleurde-gravering" title="silicone polsbandje met (ingekleurde) gravering">siliconen polsbandje met (ingekleurde) gravering</a>.</p>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->