---
layout: doc_full
nav: pdp
cat-url: festivalbandjes
cat-title: Festivalbandjes
title: Geweven festivalbandjes
title-page: 
description: Textiel festivalbandjes geweven met je eigen logo of tekst. Deze stoffen
  geweven polsbandjes zijn geschikt voor alle feesten, evenementen en festivals. Vraag
  een vrijblijvende offerte aan!
keywords: ''
main-image: "/assets/images/products/geweven_festivalbandjes_incl_sluiting"
carousel:
- image: "/assets/images/products/geweven_festivalbandjes_incl_sluiting"
- image: "/assets/images/products/geweven_festivalbandjes_1_1"
- image: "/assets/images/products/geweven_festivalbandjes_2"
- image: "/assets/images/products/geweven_festivalbandjes_4"
columns:
- col: Aantal
- col: Prijs inclusief weving en sluiting
table:
- amount: "50"
  price: "€ 2,00"
  col3: ''
  col4: ''
- amount: "100"
  price: "€ 1,20"
  col3: ''
  col4: ''
- amount: "200"
  price: "€ 0,62"
  col3: ''
  col4: ''
- amount: "300"
  price: "€ 0,42"
  col3: ''
  col4: ''
- amount: "400"
  price: "€ 0,32"
  col3: ''
  col4: ''
- amount: "500"
  price: "€ 0,30"
  col3: ''
  col4: ''
- amount: "600"
  price: "€ 0,30"
  col3: ''
  col4: ''
- amount: "750"
  price: "€ 0,30"
  col3: ''
  col4: ''
  col5: ''
  col6: ''
- amount: '1.000'
  price: "€ 0,24"
  col3: ''
  col4: ''
- amount: 2.000>
  price: op aanvraag
jotform-id: "200585437274357"
redirect_from:
- "/geweven-festivalbandjes-145/"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
    <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 50 (per ontwerp)</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per stuk</td>
    </tr>
    <tr>
      <td><span class="table-blue">Afmeting</span></td>
      <td>: 350 x 15mm</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: andere afmetingen op aanvraag leverbaar</td>
    </tr>
    <tr>
      <td><span class="table-blue">Weving</span></td>
      <td>: inclusief maximaal 8 kleuren</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 12 werkdagen</td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. instelkosten en transport</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: excl. 21% btw.</td>
    </tr>
  </tbody>
</table>
<br>Wij leveren ook aan particulieren en verenigingen.
<br><br>          
<h3 class="pdp">Geweven Festivalbandjes</h3>
<p>Geweven festivalbandjes van textiel, altijd gemaakt met uw eigen ontwerp van bijvoorbeeld een logo, afbeelding en tekst. Deze stoffen festival bandjes kunt u bestellen met maximaal 8 verschillende kleuren in het ontwerp verwerkt. </p>
 <p>De festivalbandjes zijn leverbaar met verschillende sluitingen. De plastic sluiting heeft weerhaakjes en is niet overdraagbaar. Met het ronde metalen bolletje kunt u de festivalbandjes juist makkelijk aan- en afdoen. De platte metalen sluiting kunt u dichtknijpen met iedere tang dichtknijpen, hier heeft u geen speciale dure tang voor nodig!</p>       
<p>Voorafgaand aan de productie ontvangt u een digitale proef (jpeg) ter controle en akkoord. Zo weet u precies weet hoe de festivalbandjes er uit gaan zien. Wilt u het ontwerp na het zien van de digitale proef aanpassen? Geen probleem, doen we graag!</p> 
<br>          
<h3 class="pdp">Allpremiums Geweven Festivalbandjes</h3>
<ul>
  <li>altijd met uw eigen ontwerp / weving</li>
  <li>minder geschikt voor gedetailleerd ontwerp en kleine details, een bedrukking is dan beter</li>
  <li>combineer verschillende ontwerpen in uw bestelling</li>
</ul>
<br>          
<h3 class="pdp">Sluitingen</h3>
<p>De geweven festivalbandjes zijn met verschillende sluitingen leverbaar. Alle sluitingen hebben dezelfde prijs.</p>
<ul>
  <li>wit & zwart plastic schuifsluiting met weerhaakjes</li>
  <li>afneembaar rond metaal bolletje</li>
  <li>platte metalen schuifsluiting (*)</li>
</ul>
<p>(*) De platte metalen sluiting is dicht te knijpen. U kunt er ook voor kiezen om dat niet te doen, dan zijn de festivalbandjes net zoals met het ronde metallen bolletje weer makkelijk van de pols af te halen. Voor het dichtknijpen heeft u overigens GEEN speciale dure tang nodig!</p>
<br>
<p>Wilt u verschillende ontwerpen in 1 bestelling combineren? Geef dit bij de offerte aanvraag aan, zodat wij hier rekening mee kunnen houden. Meerprijs per extra ontwerp / weefkaart: +15,00.</p>
<br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->