---
layout: doc_full
nav: pdp
cat-url: waterflesjes-met-logo-bedrukken
cat-title: Waterflesjes bedrukken
title: Glazen waterfles bedrukken 330ml
title-page: 
description: U wilt een luxe 330ml waterfles van glas bedrukken met uw eigen logo?
  Wij leveren glazen waterflessen bedrukt zoals u het wilt. Inclusief gratis transport
  en ontwerp. Vraag vrijblijvend een offerte aan!
keywords: ''
main-image: "/assets/images/products/glazen_waterfles_bedrukken"
carousel:
- image: "/assets/images/products/glazen_waterfles_bedrukken"
- image: "/assets/images/products/glas_330ml_met_wit_label"
- image: "/assets/images/products/glas_330ml_met_transparant_label"
- image: "/assets/images/products/glas_750ml_met_wit_label"
- image: "/assets/images/products/glas_750ml_met_transparant_label"
columns:
- col: Aantal
- col: Prijs per stuk inclusief bedrukt label
table:
- amount: "108"
  price: "€ 1,49"
- amount: "180"
  price: "€ 1,29"
- amount: "252"
  price: "€ 1,12"
- amount: "504"
  price: "€ 0,92"
- amount: "774"
  price: "€ 0,83"
- amount: "1.008"
  price: "€ 0,75"
- amount: "1.512"
  price: "€ 0,71"
- amount: '2.520'
  price: "€ 0,67"
jotform-id: "200594390249357"
redirect_from:
- "/glazen-waterfles-bedrukken/"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
          <table border="0">
            <tbody>
              <tr>
                <td><span class="table-blue">Minimale afname</span></td>
                <td>: 50</td>
              </tr>
              <tr>
                <td><span class="table-blue">Besteleenheid</span></td>
                <td>: per stuk (u kunt er bijv. ook 267 bestellen)</td>
              </tr>
              <tr>
                <td><span class="table-blue">Levertijd</span></td>
                <td>: ca. 2 weken</td>
              </tr>
              <tr>
                <td><span class="table-blue">Leverbare kleuren</span></td>
                <td>: <a class="fa fa-file-text" href="#" onclick="window.open('/assets/pdf/PMS-Pantone-kleuren-overzicht.pdf', '_blank')" class="price"> PMS Pantone kleuren overzicht</a></td>
              </tr>
            </tbody>
          </table>
          <p>Siliconen polsbandjes bedrukken wij helemaal zoals u het wilt, in iedere kleur en altijd met uw eigen tekst of logo.</p>
          <ul>
            <li>gratis vrijblijvend ontwerp en digitale proef</li>
            <li>mooie 2mm dikke kwaliteit polsbandjes</li>
            <li>combineer verschillende kleuren in uw bestelling</li>
            <li>in vier standaard maten of uw eigen afmeting leverbaar</li>
            <li>op aanvraag per stuk verpakt of met opdruk binnenkant</li>
            <li>ook leverbaar met individuele naam of nummering</li>
          </ul>
          <p>Bij langdurig gebruik kan de opdruk na verloop van tijd gaan slijten. Voor een duurzaam effect kunt beter u kiezen voor een <a class="blue" href="https://www.allpremiums.nl/siliconen-polsbandjes-graveren-ingekleurde-gravering" title="silicone polsbandje met (ingekleurde) gravering">siliconen polsbandje met (ingekleurde) gravering</a>.</p>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->