---
layout: doc_full
nav: pdp
cat-url: keycords-lanyards-bedrukken
cat-title: keycords bedrukken
title: Keycords PMS - Pantone kleuren bedrukken
title-page: 
description: 'Wil je goedkoop bedrukte keycords bestellen? Wij bedrukken ook keycords
  voor een kleiner budget. De minimale afname is 100 stuks. Vraag vrijblijvend een
  offerte aan! '
keywords: ''
main-image: "/assets/images/products/lanyard_bedrukken_6_1"
carousel:
- image: "/assets/images/products/lanyard_bedrukken_6_1"
- image: "/assets/images/products/lanyard_bedrukken_2_copy_copy"
- image: "/assets/images/products/lanyard_bedrukken_5_1"
- image: "/assets/images/products/lanyard_bedrukken_3"
- image: "/assets/images/products/lanyard_bedrukken_1_1"
- image: "/assets/images/products/pf_ws_kleuren_budget_lanyard_polyster"
- image: "/assets/images/products/buckle_1_3"
- image: "/assets/images/products/veiligheidsclip_copy_3"
- image: "/assets/images/products/badgehouder_pf_concept_1_2_1"
columns:
- col: Aantal
- col: Prijs 15mm breed incl. 1 kleur opdruk
- col: Prijs 20mm breed incl. 1 kleur opdruk
- col: Prijs 25mm breed incl. 1 kleur opdruk
- col: 'Prijs per extra kleur opdruk '
- col: Prijs pvc badgehouder 10x8,8cm
table:
- amount: "100"
  price: "€ 1,67"
  col3: "€ 1,69"
  col4: "€ 1,89"
  col5: "€ 0,50"
  col6: "€ 0,30"
- amount: "250"
  price: "€ 1,08"
  col3: "€ 1,10"
  col4: "€ 1,30"
  col5: "€ 0,30"
  col6: "€ 0,20"
- amount: "500"
  price: "€ 0,87"
  col3: "€ 0,89"
  col4: "€ 1,09"
  col5: "€ 0,14"
  col6: "€ 0,17"
- amount: '1.000'
  price: "€ 0,74"
  col3: "€ 0,76"
  col4: "€ 0,96"
  col5: "€ 0,08"
  col6: "€ 0,16"
- amount: '2.500'
  price: "€ 0,65"
  col3: "€ 0,67"
  col4: "€ 0,85"
  col5: "€ 0,03"
  col6: "€ 0,16"
- amount: '5.000'
  price: "€ 0,48"
  col3: "€ 0,50"
  col4: "€ 0,68"
  col5: "€ 0,03"
  col6: "€ 0,15"
jotform-id: "200600890773352"
redirect_from:
- "/goedkoop-budget-keycords-bedrukken/"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-9">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-5">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-7">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
          <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 100</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per stuk</td>
    </tr>
    <tr>
      <td><span class="table-blue">Opdruk</span></td>
      <td>: 1 - 4 kleuren</td>
    </tr> 
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. instelkosten en transport</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: excl. 21% btw.</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 15 werkdagen</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: eigen kleur keycord + 4 dagen</td>
    </tr>
  </tbody>
</table>
<br>Wij leveren ook aan particulieren en verenigingen.
<br><br>  
  <h3 class="pdp">Goedkope Keycords Bedrukken</h3> 
<p>Ook met een kleiner budget kunnen wij keycords voor u bedrukken. De goedkope keycords worden met 1 - 4 Pantone kleuren bedrukt met uw eigen logo of tekst.</p>        
<p>U heeft de keuze uit maar liefst 16 verschillende standaard kleuren keycords. De opdruk is in alle kleuren mogelijk. Vanaf 500 stuks maken wij ook keycords in uw eigen PMS of Pantone kleur. </p>
          <br>          
<h3 class="pdp">Allpremiums Bedrukte Keycords</h3>      
<ul>
  <li>met 1 - 4 PMS of Pantone kleuren opdruk</li>
  <li>standaard voorzien van een karabijnhaak</li>   
  <li>leverbaar in 3 breedtes: 15mm, 20mm en 25mm</li>
  <li>16 standaard kleuren keycords</li>
  <li>keycord vanaf 500 stuks met eigen PMS kleur mogelijk </li>
</ul>       
     <br>
<p>De keycords zijn met diverse accessoires leverbaar: een loskoppelbare plastic buckle onderaan het keycord, safety clip in de nek en een transparante badgehouder. Meerprijs van de accessoires:</p>
<ul>  
  <li>loskoppelbare buckle: 0,08</li>
  <li>safety clip in de nek: 0,10</li>
  <li>badgehouder: zie tabel</li>
</ul>             
<br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-3 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->