---
layout: doc_full
nav: pdp
cat-url: magneten-bedrukken-met-logo
cat-title: magneten bedrukken
title: Goedkope magneten bedrukken
title-page: 
description: Goedkope koelkastmagneten bedrukken als je een kleiner budget hebt. Met
  je eigen vorm of ontwerp zoals uw logo, een foto of (product) afbeelding). In alle
  vormen en afmetingen leverbaar, helemaal zoals je de magneten wilt bestellen!
keywords: ''
main-image: "/assets/images/products/magneten_bedrukken1_1"
carousel:
- image: "/assets/images/products/magneten_bedrukken1_1"
- image: "/assets/images/products/ronde_magneten_bedrukken_3"
columns:
- col: Aantal
- col: Prijs per stuk standaard vorm (1)
- col: Prijs per stuk eigen vorm (2)
table:
- amount: "100"
  price: "€ 1,10"
  col3: "€ 1,32"
- amount: "250"
  price: "€ 0,66"
  col3: "€ 0,75"
- amount: "500"
  price: "€ 0,45"
  col3: "€ 0,50"
- amount: '1.000'
  price: "€ 0,30"
  col3: "€ 0,34"
- amount: '2.500'
  price: "€ 0,20"
  col3: "€ 0,23"
- amount: 5.000>
  price: op aanvraag
  col3: op aanvraag
  col4: ''
  col5: ''
  col6: ''
jotform-id: "200584915328357"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
          <br>
<p>(1) Standaard vorm magneten: rond, ovaal, vierkant en rechthoek.<br>
  (2) Eigen vorm: wij bedrukken de magneten in iedere vorm!</p>
          <p>Prijzen in tabel op basis van afmeting 25cm2, prijzen andere afmetingen op aanvraag.</p>
       <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 100</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per stuk</td>
    </tr>
    <tr>
      <td><span class="table-blue">Opdruk</span></td>
      <td>: full color cmyk</td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. instelkosten en transport</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: excl. 21% btw.</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 7 werkdagen</td>
    </tr>
  </tbody>
</table>
<br>Wij leveren ook aan particulieren en verenigingen.
<br><br>  
  <h3 class="pdp">Magneten met eigen opdruk</h3>                         
<p>Wilt u goedkoop magneten bedrukken met de beste kwaliteit? Die met uw eigen opdruk in iedere vorm en afmeting gemaakt worden? Kies dan voor deze bedrukte magneten.</p>
<p>Op het internet zijn er veel magneten te vinden met een papieren toplaag. Toegegeven, deze zijn goedkoper maar: pak deze 1 of 2 keer op en de randen worden lelijk. Niet bij de bedrukte magneten die wij leveren: deze hebben een onslijtbare vinyl toplaag waarbij de randen niet beschadigen!</p>
<p>Ons advies? Geef iets meer geld uit en kies altijd voor magneten met een duurzame vinyl toplaag. Hier heeft u niet alleen zelf veel meer plezier van, maar ook met name de mensen die de bedrukte magneten van u ontvangen.</p>
<p>  Voorafgaand aan de productie ontvangt u een digitale proef ter controle en akkoord (pdf bestand), zodat u ziet hoe de magneten voor u gemaakt worden.</p>        
          <br>          
<h3 class="pdp">Bedrukte magneten</h3>
<ul>
  <li>flexibele magneet: dikte 0,75mm</li>
  <li>altijd met uw eigen opdruk</li>
  <li>in iedere afmeting en vorm leverbaar</li>
  <li>duurzame en onslijtbare vinyl toplaag</li>
  <li>niet geschikt voor het memo of whiteboard (*)</li>
  <li>geen verschillende opdrukken in 1 bestelling mogelijk (*)</li>
</ul>
<p>(*) Wilt u verschillende opdrukken in 1 bestelling combineren, of magneten bestellen die ook geschikt zijn voor het memo of whiteboard? Kies dan voor  
<a class="blue" href="https://www.allpremiums.nl/magneten-bedrukken-extra-kleefkracht/" title="magneten bedrukken extra kleefkracht">bedrukte magneten met extra kleefkracht.</a></p>
<p>Voor het beoordelen van de kwaliteit vraagt u gratis en vrijblijvend eem sample aan!</p>                         
<br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->