---
layout: doc_full
nav: pdp
cat-url: lolly-bedrukken
cat-title: lolly bedrukken
title: Hartjes lolly bedrukken
title-page: 
description: Lolly in hartvorm die wij bedrukken met uw logo. Deze hartjes lollie
  met uw reclame bedrukt is leuk om aan uw relaties weg te geven. Vraag snel een vrijblijvende
  offerte aan!
keywords: ''
main-image: "/assets/images/products/hartjes_lollie"
carousel:
- image: "/assets/images/products/hartjes_lollie"
- image: "/assets/images/products/platte_lolly_hart"
- image: "/assets/images/products/hart_lollies"
columns:
- col: Aantal
- col: Prijs incl. 1 kleur opdruk
- col: Prijs incl. 2 kleuren opdruk
- col: Prijs incl. 3 kleuren opdruk
table:
- amount: '5.000'
  price: "€ 0,13"
  col3: "€ 0,15"
  col4: "€ 0,17"
- amount: '10.000'
  price: "€ 0,12"
  col3: "€ 0,14"
  col4: "€ 0,16"
- amount: '20.000'
  price: "€ 0,10"
  col3: "€ 0,12"
  col4: "€ 0,13"
- amount: '30.000'
  price: "€ 0,09"
  col3: "€ 0,10"
  col4: "€ 0,11"
jotform-id: "201443873401347"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
          <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 5.000</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per 1.000</td>
    </tr>
    <tr>
      <td><span class="table-blue">Houdbaarheid</span></td>
      <td>: 12 maanden</td>
    </tr>
    <tr>
      <td><span class="table-blue">Opdruk</span></td>
      <td>: 1 - 3 Pantone PMS kleuren</td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. instelkosten & transport</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: excl. 21% btw.</td>
    </tr>    
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 22-25 werkdagen</td>
    </tr>  
</tbody>
</table>
<br>
<br>
<h3 class="pdp">Hartjes lolly bedrukken</h3>   
  <p>Met uw uw tekst, logo of afbeelding bedrukt zijn deze lekkere hartjes lollies leuk om bijvoorbeeld op een beurs, evenement of aan uw relaties weg te geven. Het folie is in het wit en transparant leverbaar. De opdruk wordt op 1 kant in 1-3 PMS of Pantone kleuren gemaakt.</p> 
          <br>
<h3 class="pdp">Bedrukte hartjes lollies</h3>       
    <ul>
     <li>altijd bedrukt met uw eigen logo, tekst of afbeelding</li>
     <li>wit of transparant folie</li>
     <li>smaken: aardbei-kers, appel, citroen, cola of sinaasappel</li>
     <li>combinatie van smaken is mogelijk: minimaal 5.000 lollies per smaak</li>
    </ul>                     
<br>
          <p><strong>Vraag een vrijblijvende offerte met laagste prijs garantie aan!</strong></p>
          <br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->
