---
layout: doc_full
nav: pdp
cat-url: lolly-bedrukken
cat-title: lolly bedrukken
title: Hartjes lolly bedrukken
title-page: 
description: Lolly in hartvorm die wij bedrukken met uw logo. Deze hartjes lollie
  met uw reclame bedrukt is leuk om aan uw relaties weg te geven. Vraag snel een vrijblijvende
  offerte aan!
keywords: ''
main-image: "/assets/images/products/hartjes_lollie"
carousel:
- image: "/assets/images/products/hartjes_lollie"
- image: "/assets/images/products/platte_lolly_hart"
- image: "/assets/images/products/hart_lollies"
columns:
- col: Aantal
- col: 1 kleur opdruk
- col: 2 kleuren opdruk
- col: 3 kleuren opdruk
table:
- amount: '5.000'
  price: "€ 0,13"
  col3: "€ 0,135"
  col4: "€ 0,14"
- amount: '10.000'
  price: "€ 0,09"
  col3: "€ 0,095"
  col4: "€ 0,10"
- amount: '20.000'
  price: "€ 0,075"
  col3: "€ 0,08"
  col4: "€ 0,085"
- amount: '30.000'
  price: "€ 0,065"
  col3: "€ 0,07"
  col4: "€ 0,075"
jotform-id: "200604109727348"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
          <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 5.000</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per 1.000</td>
    </tr>
    <tr>
      <td><span class="table-blue">Houdbaarheid</span></td>
      <td>: 18 maanden</td>
    </tr>
    <tr>
      <td><span class="table-blue">Opdruk</span></td>
      <td>: 1 - 3 Pantone PMS kleuren</td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. instelkosten & transport</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: excl. 21% btw.</td>
    </tr>    
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 4 weken</td>
    </tr>  
</tbody>
</table>
<br>
  <p>Hart lolly bedrukt met uw tekst, logo of afbeelding. Deze lekkere hartvorm lollies zijn leuk om aan relaties weg te geven en worden zeker gewaardeerd!</p> 
<p>De lollies worden geleverd met verschillende fruitsmaken: aarbei-kers, citroen, sinaasappel, cola of appel.  </p>
          <p> Minimale afname per smaak: 5.000 lollies.</p>
<br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->