---
layout: doc_full
nav: pdp
cat-url: mondkapjes
cat-title: mondkapjes
title: IIR - 2R Mondmaskers
title-page: 
description: IIR - @R chirurgische disposable mondmasker, 3 laags met 95%> efficiëntie.
  CE gecertificeerd en EN genormeerd.
keywords: ''
main-image: "/assets/images/products/ffp1_mondkapje"
carousel:
- image: "/assets/images/products/ffp1_mondkapje"
- image: "/assets/images/products/daymaker_voorkant"
- image: "/assets/images/products/daymaker_plat"
- image: "/assets/images/products/daymaker_neusclip"
- image: "/assets/images/products/daymaker_zijkant_vochtafstotend"
- image: "/assets/images/products/daymaker_zijkant_normering"
- image: "/assets/images/products/daymaker_open_doosje"
- image: "/assets/images/products/specificaties_ffp1_mondkapje"
- image: "/assets/images/products/fda_ffp1_mondkapje"
columns:
- col: Aantal
- col: Prijs per stuk incl. btw. & transport
- col: Totaal incl. btw. & transport
table:
- amount: 50>
  price: "€ 0,90"
  col3: "€ 45,00"
- amount: 100>
  price: "€ 0,85"
  col3: "€ 85,00"
- amount: 250>
  price: "€ 0,80"
  col3: "€ 200,00"
- amount: 500>
  price: "€ 0,70"
  col3: "€ 350,00"
- amount: 1.000>
  price: "€ 0,65"
  col3: "€ 650,00"
jotform-id: "201143620273341"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
          <br><p><strong>Wij leveren ook aan particulieren en verenigingen.</strong></p>
<br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 50</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per 50</td>
    </tr>
    
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: inclusief btw. & transport</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 1-2 dagen</td>
    </tr>
  </tbody>
</table> 
<br>
   <h3 class="pdp">IIR 2R mondmaskers</h3>               
<p>
   <p>Disposable mondmasker met <strong>vochtafstotende buitenste laag</strong> en verstelbare neusclip, voor extra bescherming tijdens het werk of in het Openbaar Vervoer.</p>  

<p>Hoog draagcomfort door het lichte gewicht en de zachte oorelastieken. Huidvriendelijk goed ademend hypoallergeen non-woven materiaal. Goede filtering van virussen en bacteriën door de 3-laags constructie en de 95%> efficientie.</p>
<br>                     
<ul>
  <li>IIR - 2R masker met vochtafstotende buitenste laag
  <li>verstelbare neusclip<li/>
  <li><strong>CE gecertificeerd</strong></li>
  <li><strong>Normering: GB/T32610-2016 / EN-149: 2001 +A1: 2009</strong></li>
  <li>3 laags filtering</li>
  <li>95%> efficiëntie</li>
  <li>sluit losser op het gezicht aan dan een <a class="blue" href="https://www.allpremiums.nl/ffp2-kn95-mondkapjes" title="FFP2 MondKAPJE">FFP2 MondKAPJE.</a></li> 
</ul>  
<br>          
          
<p>De kleur van het mondmasker kan in werkelijkheid afwijken ten opzichte van de kleur op de foto's.</p>    

<p>Helaas kunnen mondmaskers niet geretourneerd worden omdat het een hygiene product is. Ook ongeopende verpakkingen nemen wij niet retour. Het is namelijk niet goed te beoordelen of er iets met het product gebeurd is, ook wanneer de verpakking nog intact lijkt te zijn.</p>    
                    
<p>Heeft u nog vragen of wilt u meer informatie? Neem gerust vrijblijvend contact met ons op, wij helpen u graag verder.</p>   
          
<p>Vraag vrijblijvend een offerte aan!</p>   
          
          
<br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->