---
layout: doc_full
nav: pdp
cat-url: mondkapjes-bestellen
cat-title: mondkapjes
title: IIR 3 laags vochtwerende mondkapjes
title-page: 
description: IIR 3 laags vochtwerende mondkapjes. ' 
keywords: ''
main-image: "/assets/images/products/mondkapje"
carousel:
- image: "/assets/images/products/mondkapje"
- image: "/assets/images/products/mondkapjes_neusclip"
- image: "/assets/images/products/mondkapjes"
- image: "/assets/images/products/mondkapjes_voorkant"
- image: "/assets/images/products/mondkapjes_open_doosje"
- image: "/assets/images/products/daymaker_zijkant_normering"
- image: "/assets/images/products/daymaker_zijkant_vochtafstotend"
- image: "/assets/images/products/mondkapjes_fda"
- image: "/assets/images/products/mondkapjes_specificaties"
columns:
- col: Aantal
- col: Prijs per stuk incl. btw. & transport
- col: Totaal incl. btw. & transport
table:
- amount: 50>
  price: "€ 0,45"
  col3: "€ 22,50"
- amount: 100>
  price: "€ 0,39"
  col3: "€ 39,00"
- amount: 150>
  price: "€ 0,37"
  col3: "€ 55,50"
- amount: 200>
  price: "€ 0,36"
  col3: "€ 72,00"
- amount: 500>
  price: "€ 0,315"
  col3: "€ 157,50"
- amount: 1.000>
  price: "€ 0,31"
  col3: "€ 310,00"
- amount: 2.000>
  price: "€ 0,295"
  col3: "€ 590,00"
- amount: 4.000>
  price: "€ 0,28"
  col3: "€ 1.120,00"
- amount: 6.000>
  price: "€ 0,27"
  col3: "€ 1.620,00"
jotform-id: "201143620273341"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
          <br>
          <p>Wij leveren ook aan particulieren.</p> 
          <p>Belangrijk: veel aanbieders laten lagere prijzen zien maar deze zijn zonder transportkosten, deze komt u pas bij het afrekenen tegen. Onze prijzen zijn inclusief (0%) btw en transport. De kans is groot dat wij echt de laagste prijs aanbieden.</p> 
          <br> 
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 50 mondkapjes</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per doos van 50 mondkapjes</td>
    </tr>
    
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: inclusief btw. & transport</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 1-2 werkdagen</td>
    </tr>
  </tbody>
</table> 
<br>      
<h3 class="pdp">IIR - 2R 3 laags mondkapjes met 2 vochtwerende lagen</h3>
   <p>Disposable mondkapje met vochtafstotende 1e & 3e laag laag en verstelbare neusclip. Comfortabel om te dragen door het lichte gewicht en de zachte oorelastieken. De mondkapjes zijn gemaakt van een huidvriendelijk en goed ademend hypoallergeen non-woven materiaal.</p>
   <p>Goede filtering van virussen en bacteriën door de 3-laags constructie en de maar liefst 99% filter efficientie. Dit is de hoogst haalbare filtering bij mondkapjes.</p>
<br>
<h3 class="pdp">Specificaties IIR - 2R mondkapjes</h3>
<ul>
  <li>3 laags mondmasker met 2 vochtwerende lagen</strong></li>
  <li>99% BFE Bacteria Filtration Efficiency</li>
  <li>99% PFE Particle Filtration Efficiency</li>  
  <li>Normering: GB/T32610-2016 (staat gelijk aan EN 149:2001 +A1: 2009)</li> 
</ul>  
<br>          
<p>Helaas kunnen mondkapjes niet geretourneerd worden omdat het een hygiene product is. Ook ongeopende verpakkingen nemen wij niet retour. Het is namelijk niet goed te beoordelen of er iets met het product gebeurd is, ook wanneer de verpakking nog intact lijkt te zijn.</p>          
<p>Heeft u nog vragen of wilt u meer informatie? Neem gerust vrijblijvend contact met ons op, wij helpen u graag verder.</p>   
<p><strong>Vraag een vrijblijvende offerte aan!</strong></p>    
<br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
        {% include form/jotform.html %}
            <!-- Start FORM -->
            {% include form/mond-blauw-201143620273341.html %}
           <!-- End FORM -->
    </div>
    <!-- Right Col END - Form -->
