---
layout: doc_full
nav: pdp
cat-url: kauwgom-bedrukken
cat-title: kauwgom bedrukken
title: Kauwgompakje bedrukken (6)
title-page: 
description: Kauwgompakje bedrukt met uw logo. Deze kauwgom bedrukken wij precies
  zoals u wilt. In de blister zitten 6 stuks suikervrije kauwgom met Xylitol. Vraag
  een vrijblijvende offerte aan met laagste prijs garantie!
keywords: ''
main-image: "/assets/images/products/kauwgomblister_6_stuks_4"
carousel:
- image: "/assets/images/products/kauwgomblister_6_stuks_4"
- image: "/assets/images/products/pakje_kauwgom_bedrukken"
- image: "/assets/images/products/klein_pakje_kauwgom_bedrukken"
columns:
- col: Aantal
- col: Prijs per stuk
table:
- amount: "50"
  price: '1,25'
- amount: "100"
  price: 0,79
- amount: "200"
  price: '0,45'
- amount: "300"
  price: '0,37'
- amount: "400"
  price: '0,33'
- amount: "500"
  price: '0,30'
- amount: "750"
  price: 0,28
- amount: "1000"
  price: "<span class='price'>0,24</span>"
- amount: 1.200 >
  price: op aanvraag
jotform-id: "200602402973345"
redirect_from:
- "/kauwgom-pakje-bedrukken-1606/"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
          
<br>          
   <p>(1) De kartonnen sleeve wordt standaard full color met uw eigen logo of tekst bedrukt.</p>
   <p>(2) De blister waar de kauwgompjes in zitten kan aan de onderkant met 1 kleur bedrukt worden.</p>
          <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 1.000</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per 500</td>
    </tr>
    <tr>
      <td><span class="table-blue">Inhoud</span></td>
      <td>: 5 suikervrije kauwgom</td>
    </tr>
    <tr>
      <td><span class="table-blue">Afmeting</span></td>
      <td>: ca. 110x35x10mm</td>
    </tr>
   <tr>
      <td><span class="table-blue">Instelkosten</span></td>
      <td>: € 95,00 kartonnen sleeve</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: € 75,00 opdruk blister</td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: exclusief 21% btw.</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 15 werkdagen</td>
    </tr>  
</tbody>
</table>
<br>
<br>
  <p>Bedrukte kauwgompakjes voorzien van een blister met 5 suikervrije kauwgompjes. De kartonnen sleeve van de kauwgom bedrukken wij rondom full color met bijvoorbeeld uw foto, logo of (product) afbeelding. </p> 
<p>Als extra optie kunt u vanaf 3.000 stuks ook de onderkant van de blister met 1 kleur bedrukken. 
</p>        
<p>Voordat de productie start ontvangt u een digitale proef (jpeg), zodat u precies weet hoe de zakjes kauwgom gemaakt worden. Wilt u het ontwerp na het zien van de digitale proef aanpassen? Doen we graag!</p>
    <br> 
          
          
          
          
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->