---
layout: doc_full
nav: pdp
cat-url: kauwgom-bedrukken
cat-title: kauwgom bedrukken
title: Kauwgompakje bedrukken (6)
title-page: 
description: Kauwgompakje bedrukt met uw logo. Deze kauwgom bedrukken wij precies
  zoals u wilt. In de blister zitten 6 stuks suikervrije kauwgom met Xylitol. Vraag
  een vrijblijvende offerte aan met laagste prijs garantie!
keywords: ''
main-image: "/assets/images/products/kauwgomblister_6_stuks_4"
carousel:
- image: "/assets/images/products/kauwgomblister_6_stuks_4"
- image: "/assets/images/products/pakje_kauwgom_bedrukken"
- image: "/assets/images/products/klein_pakje_kauwgom_bedrukken"
columns:
- col: Aantal
- col: Prijs per stuk incl. opdruk
table:
- amount: "250"
  price: "€ 1,00"
- amount: "500"
  price: "€ 0,62"
- amount: '1.000'
  price: "€ 0,47"
- amount: '2.500'
  price: "€ 0,39"
- amount: '5.000'
  price: "€ 0,33"
jotform-id: "200602402973345"
redirect_from:
- "/kauwgom-pakje-bedrukken-1606/"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
          <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 250</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per 50</td>
    </tr>
    <tr>
      <td><span class="table-blue">Inhoud</span></td>
      <td>: 6 suikervrije kauwgompjes</td>
    </tr>
     <tr>
      <td><span class="table-blue">Opdruk</span></td>
      <td>: full color rondom</td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. instelkosten & transport</td>
    </tr>
   <tr>
      <td><span class="table-blue">/span></td>
      <td>: excl. 21% btw.</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 15 werkdagen</td>
    </tr>  
</tbody>
</table>
<br>
<br>
  <p>Bedrukt kauwgompakje met een inhoud van 6 suikervrije kauwgompjes. De kartonnen sleeve van de kauwgom bedrukken wij rondom met bijvoorbeeld een logo of tekst. Door de full color opdruk kunnen wij ook heel mooi foto's en afbeeldingen bedrukken.</p> 
<p>Wilt u ook een lekker fris relatiegeschenk weggeven? Laat dan een pakje kauwgom bedrukken!</p>        
<p>Voorafgaand aan de productie ontvangt u een digitale proef (jpeg bestand), zodat u precies weet hoe de kauwgompakjes bedrukt worden. Wilt u het ontwerp na het zien van de digitale proef aanpassen? Doen we graag!</p>
    <br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->