---
layout: doc_full
nav: pdp
cat-url: keycords-lanyards-bedrukken
cat-title: keycords bedrukken
title: Keycords bedrukken full color
title-page: 
description: 'Keycords full color bedrukken met je eigen tekst of logo. Gemaakt van
  een glad en zacht materiaal dat heel comfortabel om de nek draagt. Informeer naar
  de mogelijkheden of vraag snel een offerte aan!  '
keywords: ''
main-image: "/assets/images/products/fc_keycords_bedrukken_1"
carousel:
- image: "/assets/images/products/fc_keycords_bedrukken_1"
- image: "/assets/images/products/fc_keycord_bedrukken"
- image: "/assets/images/products/fc_keycord_bedrukken_2_zijdig"
- image: "/assets/images/products/fc_keycord_bedrukken_15mm_breed"
- image: "/assets/images/products/fc_keycords_bedrukt"
- image: "/assets/images/products/fc_bedrukte_keycords"
- image: "/assets/images/products/fc_bedrukt_keycord"
- image: "/assets/images/products/verzamel_haken_pf_concept"
- image: "/assets/images/products/badgehouder_pf_concept_1_2"
columns:
- col: Aantal
- col: Prijs 15mm breed incl. opdruk
- col: Prijs 20mm breed incl. opdruk
- col: Prijs 25mm breed incl. opdruk
- col: Meerprijs dubbel zijdige opdruk
- col: Prijs pvc badge houder 10x8,8cm
table:
- amount: "100"
  price: "€ "
  col3: "€ "
  col4: "€ "
  col5: "€ "
  col6: "€ "
- amount: "250"
  price: "€ "
  col3: "€ "
  col4: "€ "
  col5: "€ "
  col6: "€ "
- amount: "500"
  price: "€ "
  col3: "€ "
  col4: "€ "
  col5: "€ "
  col6: "€ "
- amount: '1.000'
  price: "€ "
  col3: "€ "
  col4: "€ "
  col5: "€ "
  col6: "€ "
- amount: '2.000'
  price: "€ "
  col3: "€ "
  col4: "€ "
  col5: "€ "
  col6: "€ "
- amount: '3.000'
  price: "€ "
  col3: "€ "
  col4: "€ "
  col5: "€ "
  col6: "€ "
- amount: '5.000'
  price: "€ "
  col3: "€ "
  col4: "€ "
  col5: "€ "
  col6: "€ "
jotform-id: "200600725030335"
redirect_from:
- "/full-color-keycords-bedrukken/"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-9">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-5">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-7">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
                    <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: </td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: </td>
    </tr>
    <tr>
      <td><span class="table-blue">Opdruk</span></td>
      <td>: </td>
    </tr> 
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: </td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: </td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: niet meer leverbaar</td>
    </tr>
  </tbody>
</table>
<br>Dit product is helaas niet meer leverbaar.
<br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-3 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->
