---
layout: doc_full
nav: pdp
cat-url: keycords-lanyards-bedrukken
cat-title: keycords bedrukken
title: Keycords bedrukken full color
title-page: 
description: 'Keycords full color bedrukken met je eigen tekst of logo. Gemaakt van
  een glad en zacht materiaal dat heel comfortabel om de nek draagt. Informeer naar
  de mogelijkheden of vraag snel een offerte aan!  '
keywords: ''
main-image: "/assets/images/products/fc_keycords_bedrukken_1"
carousel:
- image: "/assets/images/products/fc_keycords_bedrukken_1"
- image: "/assets/images/products/fc_keycord_bedrukken"
- image: "/assets/images/products/fc_keycord_bedrukken_2_zijdig"
- image: "/assets/images/products/fc_keycord_bedrukken_15mm_breed"
- image: "/assets/images/products/fc_keycords_bedrukt"
- image: "/assets/images/products/fc_bedrukte_keycords"
- image: "/assets/images/products/fc_bedrukt_keycord"
- image: "/assets/images/products/verzamel_haken_pf_concept"
- image: "/assets/images/products/badgehouder_pf_concept_1_2"
columns:
- col: Aantal
- col: Prijs 15mm breed incl. opdruk
- col: Prijs 20mm breed incl. opdruk
- col: Prijs 25mm breed incl. opdruk
- col: Meerprijs dubbel zijdige opdruk
- col: Prijs pvc badge houder 10x8,8cm
table:
- amount: "100"
  price: "€ 1,25"
  col3: "€ 1,29"
  col4: "€ 1,34"
  col5: "€ 0,08"
  col6: "€ 0,25"
- amount: "250"
  price: "€ 0,88"
  col3: "€ 0,92"
  col4: "€ 0,97"
  col5: "€ 0,08"
  col6: "€ 0,20"
- amount: "500"
  price: "€ 0,73"
  col3: "€ 0,77"
  col4: "€ 0,82"
  col5: "€ 0,08"
  col6: "€ 0,17"
- amount: '1.000'
  price: "€ 0,64"
  col3: "€ 0,69"
  col4: "€ 0,74"
  col5: "€ 0,08"
  col6: "€ 0,16"
- amount: '2.000'
  price: "€ 0,60"
  col3: "€ 0,64"
  col4: "€ 0,69"
  col5: "€ 0,08"
  col6: "€ 0,16"
- amount: '3.000'
  price: "€ 0,55"
  col3: "€ 0,59"
  col4: "€ 0,64"
  col5: "€ 0,08"
  col6: "€ 0,15"
- amount: '5.000'
  price: "€ 0,47"
  col3: "€ 0,50"
  col4: "€ 0,55"
  col5: "€ 0,08"
  col6: "€ 0,15"
jotform-id: "200600725030335"
redirect_from:
- "/full-color-keycords-bedrukken/"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-9">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-5">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-7">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
                    <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 100</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per stuk</td>
    </tr>
    <tr>
      <td><span class="table-blue">Opdruk</span></td>
      <td>: full color cmyk</td>
    </tr> 
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. instelkosten en transport</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: excl. 21% btw.</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 15 werkdagen</td>
    </tr>
  </tbody>
</table>
<br>Wij leveren ook aan particulieren en verenigingen.
<br><br>  
  <h3 class="pdp">Keycords full color bedrukken</h3>                     
<p>Met een full color cmyk opdruk, kunnen afbeeldingen en meerkleuren logo's haarscherp bedrukt worden. Deze manier van bedrukken is echter ook heel goed geschikt voor het bedrukken van een tekst in 1 of meerdere kleuren.De druktechniek wordt ook wel sublimatie of heat transfer opdruk genoemd.</p>           
<p> Dit keycord is gemaakt van een glad en zacht materiaal, zodat het heel prettig om de nek draagt. </p><br>          
<h3 class="pdp">Full color bedrukte keycords</h3>      
<ul>
  <li>standaard full color bedrukt en voorzien van karabijnhaak</li>   
  <li>leverbaar in 3 breedtes: 15mm, 20mm en 25mm </li>
  <li>bijzonder comfortabel materiaal</li>
</ul>    
     <br>
<p>De keycords zijn met diverse accessoires leverbaar: een ovale haak of telefoonkoord i.p.v de standaard karabijnhaak, een loskoppelbare plastic buckle onderaan het keycord, safety clip in de nek en een transparante badgehouder. Meerprijs van de accessoires:</p>
<ul>  
  <li>loskoppelbare buckle: 0,08</li>
  <li>safety clip in de nek: 0,10</li>
  <li>ovale haak i.p.v karabijnhaak: 0,04</li>
  <li>telefoonkoord i.p.v. karabijnhaak: 0,05</li>
  <li>badgehouder: zie tabel</li>
</ul>             
<br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-3 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->