---
layout: doc_full
nav: pdp
cat-url: lolly-bedrukken
cat-title: lolly bedrukken
title: Lolly in flowpack zakje bedrukken
title-page: 
description: Lolly in een bedrukt zakje. Wij bedrukken de voor- en achterkant van
  de flowpack met bijvoorbeeld met uw logo of reclame tekst. De lollies zijn in verschillende
  smaken leverbaar. Neem contact met ons op voor de mogelijkheden!
keywords: ''
main-image: "/assets/images/products/lolly_bedrukken_in_zakje"
carousel:
- image: "/assets/images/products/lolly_bedrukken_in_zakje"
- image: "/assets/images/products/lollies_bedrukken_in_zakje"
- image: "/assets/images/products/lollie_bedrukken_in_zakje"
- image: "/assets/images/products/lollies_bedrukt_in_zakje"
columns:
- col: Aantal
- col: 1 kleur opdruk
- col: 2 kleuren opdruk
- col: 3 kleuren opdruk
- col: 4 kleuren opdruk
table:
- amount: '5.000'
  price: "€ 0,16"
  col3: "€ 0,17"
  col4: "€ 0,18"
  col5: "€ 0,19"
- amount: '10.000'
  price: "€ 0,13"
  col3: "€ 0,14"
  col4: "€ 0,15"
  col5: "€ 0,16"
- amount: '20.000'
  price: "€ 0,11"
  col3: "€ 0,12"
  col4: "€ 0,13"
  col5: "€ 0,14"
- amount: '50.000'
  price: "€ 0,10"
  col3: "€ 0,11"
  col4: "€ 0,12"
  col5: "€ 0,13"
jotform-id: "200604334887355"
redirect_from:
- "/lolly-in-zakje-bedrukken/"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
                   <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 5.000</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per 1.000</td>
    </tr>
    <tr>
      <td><span class="table-blue">Houdbaarheid</span></td>
      <td>: 18 maanden</td>
    </tr>
    <tr>
      <td><span class="table-blue">Opdruk</span></td>
      <td>: 1 - 4 PMS kleuren / full color(*)</td>
    </tr>
    <tr>
      <td><span class="table-blue">Instelkosten</span></td>
      <td>: 50,00 per kleur opdruk</td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: inclusief transport</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: exclusief 21% btw.</td>
    </tr>    
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 25 werkdagen</td>
    </tr>  
</tbody>
</table>
<br>
          <p>(*) Full color CMYK opdruk onder voorbehoud van controle drukbestand.</p>      
    <br>
 <h3 class="pdp">Lolly met eigen opdruk</h3>
  <p>Ronde knots lollies verpakt in een flowpack zakje dat wij voor u bedrukken. Door de afmeting is er veel ruimte voor een logo, text of reclame opdruk. Deze lollies maken ongetwijfeld een "lekkere" indruk op uw klanten!</p> 
                    
<br>          
<h3 class="pdp">Lollies in bedrukt flowpack zakje</h3>       
    <ul>
     <li>altijd met uw eigen logo, tekst of afbeelding</li>
     <li>rondom bedrukt</li>
     <li>smaken: aardbei-kers, appel, citroen, cola of sinaasappel</li>
     <li>combinatie van smaken is mogelijk: minimaal 5.000 lollies per smaak</li>
    </ul>                      
<br>
          <p>Vraag vrijblijvend een offerte aan met laagste prijs garantie!</p>
          <br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->