---
layout: doc_full
nav: pdp
cat-url: premiums
cat-title: premiums
title: Magnetische boekenlegger met logo bedrukken
title-page: 
description: Magnetische boekenlegger bedrukt met uw eigen logo of reclame tekst.
  Al vanaf 125 stuks aan 2 zijden bedrukt. Vraag een vrijblijvende offerte aan!
keywords: ''
main-image: "/assets/images/products/magnetische_boekenlegger"
carousel:
- image: "/assets/images/products/magnetische_boekenlegger"
- image: "/assets/images/products/magnetische_boekenlegger_binnenkant"
columns:
- col: Aantal
- col: Prijs 
table:
- amount: "125"
  price: ""
- amount: "250"
  price: ""
- amount: "500"
  price: ""
- amount: '1.000'
  price: ""
- amount: '1.500'
  price: ""
- amount: '2.000'
  price: ""
- amount: '2.500'
  price: ""
- amount: '5.000'
  price: ""

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
          <br>
<br>Dit product is helaas niet meer leverbaar.
</p>               
<br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->
