---
layout: doc_full
nav: pdp
cat-url: premiums
cat-title: premiums
title: Magnetische boekenlegger met logo bedrukken
title-page: 
description: Magnetische boekenlegger bedrukt met uw eigen logo of reclame tekst.
  Al vanaf 125 stuks aan 2 zijden bedrukt. Vraag een vrijblijvende offerte aan!
keywords: ''
main-image: "/assets/images/products/magnetische_boekenlegger"
carousel:
- image: "/assets/images/products/magnetische_boekenlegger"
- image: "/assets/images/products/magnetische_boekenlegger_binnenkant"
columns:
- col: Aantal
- col: Prijs incl. opdruk
table:
- amount: "125"
  price: "€ 1,59"
- amount: "250"
  price: "€ 0,96"
- amount: "500"
  price: "€ 0,61"
- amount: '1.000'
  price: "€ 0,44"
- amount: '1.500'
  price: "€ 0,38"
- amount: '2.000'
  price: "€ 0,35"
- amount: '2.500'
  price: "€ 0,33"
jotform-id: "200604852144346"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
          <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 125</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per 25</td>
    </tr>
    <tr>
      <td><span class="table-blue">Opdruk</span></td>
      <td>: full color cmyk, tweezijdig</td>
    </tr> 
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. instelkosten & transport</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: excl. 21% btw.</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 10 werkdagen</td>
    </tr>
  </tbody>
</table>
<br>Wij leveren ook aan particulieren en verenigingen.
<br><br>  
  <h3 class="pdp">Bedrukte magnetische boekenleggers</h3>               
<p>Magnetische boekenleggers bedrukken met uw logo, reclame uiting, tekst of foto? Deze boekenlegger is gemaakt van stevig 350 grams karton, en wordt standaard tweezijdig full color bedrukt. De buitenkant wordt afgewerkt met een mooi glanslaminaat voor een luxe uitstraling.</p>          
     <br>          
<h3 class="pdp">Magnetische boekenleggers met eigen opdruk</h3>     
<ul>
  <li>afmeting: 97x40mm / opengeklapt: 194x40mm</li>
  <li>mooie kwaliteit 350 grams karton</li>
  <li>standaard bedrukt aan binnen- en buitenkant </li>
</ul>  
     <br>      
<p>Bent u ook benieuwd naar de mogelijkheden om uw eigen magnetische boekenlegger te laten maken? Neem dan vrijblijvend contact met ons op!  
</p>               
<br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->