---
layout: doc_full
nav: pdp
cat-url: magneten-bedrukken-met-logo
cat-title: magneten bedrukken
title: Memomagneten bedrukken
title-page: 
description: Memobord magneten bedrukken wij met uw logo, reclame tekst of product
  afbeelding. Een memomagneet is leuk om aan uw relaties weg te geven; uw reclame
  bedrukt en iedere dag zichtbaar of het kantoor van uw klanten. Vraag een offerte
  aan!
keywords: ''
main-image: "/assets/images/products/memomagneten"
carousel:
- image: "/assets/images/products/memomagneten"
- image: "/assets/images/products/bedrukte_memo_magneten"
- image: "/assets/images/products/bedrukte_whiteboard_magneten"
- image: "/assets/images/products/whiteboard_magneet_bedrukken"
- image: "/assets/images/products/ronde_bedrukte_memo_magneet"
- image: "/assets/images/products/whiteboard_magneten_bedrukken"
columns:
- col: Aantal
- col: 30mm rond
- col: 36mm rond
- col: 35mm vierkant
- col: 35mm rond extra sterk (*)
table:
- amount: "100"
  price: "op aanvraag"
  col3: ""
  col4: ""
  col6: ""
- amount: "250"
  price: ""
  col3: ""
  col4: ""
  col6: ""
- amount: "300"
  price: ""
  col3: ""
  col4: ""
  col6: ""
- amount: "400"
  price: ""
  col3: ""
  col4: ""
  col6: ""
- amount: "500"
  price: ""
  col3: ""
  col4: ""
  col6: ""
- amount: '1.000'
  price: ""
  col3: ""
  col4: ""
  col6: ""
- amount: 2.500>
  price: ""
  col3: ""
  col4: ""
  col6: ""
jotform-id: "200585187308357"
redirect_from:
- "/memobord-magneten-bedrukken/"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-9">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-5">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-7">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">          
<br>
          <p>(*) De extra sterke 35mm ronde memo magneten hebben maar liefst 60% meer kleefkracht dan de normale 36mm ronde memo magneten. De extra sterke magneten zijn ca. 14mm dik, de overige magneten 7mm.</p>
       <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 100</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per stuk</td>
    </tr>
    <tr>
      <td><span class="table-blue">Opdruk</span></td>
      <td>: full color cmyk</td>
    </tr>
    <tr>
      <td><span class="table-blue">Materiaal</span></td>
      <td>: hard kunststof</td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. instelkosten en transport</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: excl. 21% btw.</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 10 werkdagen</td>
    </tr>
  </tbody>
</table>
<br>Wij leveren ook aan particulieren en verenigingen.
<br><br>  
  <h2 class="pdp">Bedrukte memo magneten</h2>   
          <p>Memobord magneten bedrukken met een logo, tekst of product afbeelding. Een leuke en praktische manier van reclame maken: de bedrukte magneten worden dagelijks op het memobord gezien.</p>      
<p>De memo magneten zijn gemaakt van hard kunsstof, waar aan de onderkant / binnenkant een sterke magneet is bevestigd. Er zijn verschillende standaard vormen leverbaar:</p>
<ul>
  <li>rond 30mm & 36mm</li>
  <li>vierkant 35x35mm</li>
  <li>rond 35mm: extra sterke magneet (60% meer kleefkracht)</li>
</ul>     
<p> Wij bedrukken altijd full color cmyk zodat ook "meerkleuren" afbeeldingen mooi bedrukt worden. Het bedrukken van PMS Pantone kleuren is helaas niet mogelijk.</p>         
<p>  Voor de productie begint ontvangt u een digitale proef ter controle en akkoord (pdf bestand), zodat u ziet hoe de magneten voor u gemaakt worden.</p>    
          
          <br>          
<h3 class="pdp">Memo magneten bedrukken</h3>
<ul>
  <li>met uw eigen tekst, logo of afbeelding</li>
  <li>combineer verschillende opdrukken in 1 bestelling</li>
  <li>ook per stuk / individueel te bedrukken</li>
</ul>
<br>          
<p>Wilt u eerst de kwaliteit beoordelen? Vraag een gratis sample aan!</p>                         
<br>   
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-3 mx-auto">
       {% include form/jotform.html %}
            <!-- Start FORM -->
            {% include form/mag-memo-200585187308357.html %}
           <!-- End FORM -->
    </div>
    <!-- Right Col END - Form -->
