---
layout: doc_full
nav: pdp
cat-url: siliconen-polsbandjes-en-armbandjes
cat-title: siliconen polsbandjes
title: Onbedrukte siliconen polsbandjes
title-page: 
description: Onbedrukte blanco silicone polsbandjes zonder opdruk. In iedere kleur en verschillende maten leverbaar.
keywords: ''
main-image: "/assets/images/products/onbedrukte_silicone_polsbandjes"
carousel:
- image: "/assets/images/products/onbedrukte_silicone_polsbandjes"
- image: "/assets/images/products/regenboog_silicone_polsbandjes"
- image: "/assets/images/products/leger_camouflage_silicone_polsbandje"
- image: "/assets/images/products/glow_in_the_dark"
- image: "/assets/images/products/zilver_en_goud_silicone_polsbandjes"
- image: "/assets/images/products/rood_wit_blauw_silicone_polsbandje"
- image: "/assets/images/products/blanco_silicone_polsbandjes"
- image: "/assets/images/products/silicone_polsbandjes_zonder_opdruk"
columns:
- col: Aantal
- col: Prijs per stuk
- col: Totaal excl. 21% btw.
- col: Totaal incl. 21% btw.  
table:
- amount: "10>"
  price: "€ 3,00"
  col3: "€ 30,00"
  col4: "€ 36,30"
- amount: "25>"
  price: "€ 2,00"
  col3: "€ 50,00"
  col4: "€ 60,50"
- amount: "50>"
  price: "€ 1,45"
  col3: "€ 72,50"
  col4: "€ 87,73"
- amount: "100>"
  price: "€ 0,78"
  col3: "€ 78,00"
  col4: "€ 94,38"
- amount: "200>"
  price: "€ 0,49"
  col3: "€ 98,00"
  col4: "€ 118,58"
- amount: "250>"
  price: "€ 0,45"
  col3: "€ 112,50"
  col4: "€ 136,13"
- amount: "500>"
  price: "€ 0,33"
  col3: "€ 165,00"
  col4: "€ 199,65"
- amount: "1.000>"
  price: "€ 0,25"
  col3: "€ 250,00"
  col4: "€ 302,50"  
jotform-id: "202293161449353"
redirect_from:
- "/onbedrukte-blanco-siliconen-polsbandjes/"
---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-9">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-5">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-7">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
      <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 10</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per stuk, u kunt er bijvoorbeeld ook 32 bestellen</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: combineer gratis verschillende kleuren en maten in 1 bestelling</td>
    </tr>    
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: inclusief transport</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 1-2 werkdagen indien op voorraad</td>
    </tr>
     <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 2-3 weken indien niet op voorraad</td>
    </tr>    
  </tbody>
</table>
<br>Wij leveren ook aan particulieren en verenigingen.
<br><br>
          <h2 class="pdp">Onbedrukte silicone polsbandjes bestellen</h2>
<p>Soms is het bedrukken van een tekst of logo niet nodig en bent u op zoek naar een siliconen polsbandje zonder opdruk.</p>
<p>Wij leveren onbedrukte silicone bandjes in 15 verschillende kleuren en in 3 verschillende standaard maten: volwassenen 202x12x2mm, jeugd 180x12x2mm (leeftijd vanaf ca. 7 jaar en ouder) en de kindermaat van 150x12x2mm (leeftijd ca. 4-6 jaar).</p>
<p>De levertijd is ca. 1-2 werkdagen, afhankelijk van de pakketpost, als ze op voorraad zijn. Heeft u de polsbandjes sneller nodg? Dan kunt u ze ook dezelfde dag nog bij ons op komen halen. Wanneer de polsbandjes niet meer voldoende op voorraad zijn, kunnen wij ze speciaal voor u laten maken. De levertijd bedraagt dan ca. 2-3 weken.</p>
<br>
<h3 class="pdp">Silicone polsbandjes kleuren</h3>    
<ul>
  <li>wit</li>
  <li>zwart</li>
  <li>oranje: pms 021</li>
  <li>geel: pantone yellow</li>
  <li>paars: pantone purple</li>
  <li>roze: pms 183</li>
  <li>middenblauw: process blue</li>
  <li>frisgroen: pms 368</li>
  <li>brandweerrood: pms 185</li>
  <li>glow in the dark: wit met groen lichtgevend effect</li>
  <li>zilver: pms 877</li>
  <li>goud: pms 871</li> 
  <li>rood-wit-blauw polsbandje</li>
  <li>regenboog polsbandje</li>
  <li>camouflage polsbandje</li> 
</ul>  
<br>  
        <h3 class="pdp">Standaard maten silicone polsbandjes</h3>          
<ul>
            <li>202x12x2mm: volwassenen</li>
            <li>180x12x2mm: jeugd vanaf ca. 7 jaar en ouder</li>
            <li>150x12x2mm: kinderen van ca. 4 - 6 jaar</li>
</ul>  
<br>                     
<p>U kunt ook zonder extra kosten, verschillende standaard kleuren en maten in 1 bestelling combineren. Als u bijvoorbeeld 7 polsbandjes bestelt, dan betaalt u de prijs die bij dat aantal hoort: 4,13 excl. 21% btw. per stuk. U krijgt dus het prijsvoordeel van het totale aantal polsbandjes!</p>
<br>
<p>Wilt u een eigen specifieke kleur of maat silicone polsbandjes bestellen? Ook dat is mogelijk! De minimale afname is 50 stuks per kleur en maat, de levertijd is ca. 2 weken. De instelkosten zijn 25,00 voor de mal per eigen maat. Als u een standaard maat wilt bestellen maar een eigen specifieke kleur polsbandjes, dan zijn er geen instelkosten voor de mal van toepassing.</p> 
<br>
          <p>Vraag een vrijblijvende offerte aan of neem voor meer informatie contact met ons op!</p>
<br>          
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-3 mx-auto">
       {% include form/jotform.html %}
            <!-- Start FORM -->
            {% include form/sil-onb-202293161449353.html %}
           <!-- End FORM -->           
    </div>
    <!-- Right Col END - Form -->
