---
layout: doc_full
nav: pdp
cat-url: keycords-lanyards-bedrukken
cat-title: keycords bedrukken
title: Onbedrukte keycords
title-page: 
description: Onbedrukte keycords kun je bij Allpremiums in 10 verschillende kleuren
  bestellen. Heb je snel keycords zonder opdruk nodig? Wij leveren met 2-3 werkdagen.
  Neem snel contact met ons op!
keywords: ''
main-image: "/assets/images/products/pf_overzicht_onbedrukte_keycords_"
carousel:
- image: "/assets/images/products/pf_overzicht_onbedrukte_keycords_"
- image: "/assets/images/products/pf_verzamel_basic_onbedrukte_lanyards"
- image: "/assets/images/products/pf_verzamel_onbedrukte_lanyards"
- image: "/assets/images/products/pf_verzamel_luxe_onbedrukte_lanyards"
- image: "/assets/images/products/badgehouder_pf_concept_1"
columns:
- col: Aantal
- col: Prijs keycord type 1 (*)
- col: Prijs keycord type 2 (*)
- col: Prijs keycord type 3 (*)
- col: Prijs pvc badgehouder 10x8,8cm
table:
- amount: "25"
  price: "€ 3,38"
  col3: "€ 3,40"
  col4: "€ 3,50"
  col5: "€ 0,35"
- amount: "50"
  price: "€ 2,38"
  col3: "€ 2,40\t"
  col4: "€ 2,50"
  col5: "€ 0,30"
- amount: "75"
  price: "€ 1,63"
  col3: "€ 1,65"
  col4: "€ 1,75"
  col5: "€ 0,28"
- amount: "100"
  price: "€ 1,38"
  col3: "€ 1,40"
  col4: "€ 1,50\t"
  col5: "€ 0,25"
- amount: "250"
  price: "€ 0,88"
  col3: "€ 0,90"
  col4: "€ 1,00"
  col5: "€ 0,20"
- amount: "500"
  price: "€ 0,39"
  col3: "€ 0,41"
  col4: "€ 0,61"
  col5: "€ 0,17"
- amount: '1.000'
  price: "€ 0,36"
  col3: "€ 0,38"
  col4: "€ 0,58"
  col5: "€ 0,16"
- amount: '2.500'
  price: "€ 0,34"
  col3: "€ 0,36"
  col4: "€ 0,55"
  col5: "€ 0,16"
- amount: '5.000'
  price: "€ 0,32"
  col3: "€ 0,34"
  col4: "€ 0,53"
  col5: "€ 0,15"
jotform-id: "200594559835365"
redirect_from:
- "/keycord-zonder-opdruk-onbedrukte-keycords/"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-9">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-5">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-7">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
          <table border="0">
            <tbody>
              <tr>
                <td><span class="table-blue">Minimale afname</span></td>
                <td>: 50</td>
              </tr>
              <tr>
                <td><span class="table-blue">Besteleenheid</span></td>
                <td>: per stuk (u kunt er bijv. ook 267 bestellen)</td>
              </tr>
              <tr>
                <td><span class="table-blue">Levertijd</span></td>
                <td>: ca. 2 weken</td>
              </tr>
              <tr>
                <td><span class="table-blue">Leverbare kleuren</span></td>
                <td>: <a class="fa fa-file-text" href="#" onclick="window.open('/assets/pdf/PMS-Pantone-kleuren-overzicht.pdf', '_blank')" class="price"> PMS Pantone kleuren overzicht</a></td>
              </tr>
            </tbody>
          </table>
          <p>Siliconen polsbandjes bedrukken wij helemaal zoals u het wilt, in iedere kleur en altijd met uw eigen tekst of logo.</p>
          <ul>
            <li>gratis vrijblijvend ontwerp en digitale proef</li>
            <li>mooie 2mm dikke kwaliteit polsbandjes</li>
            <li>combineer verschillende kleuren in uw bestelling</li>
            <li>in vier standaard maten of uw eigen afmeting leverbaar</li>
            <li>op aanvraag per stuk verpakt of met opdruk binnenkant</li>
            <li>ook leverbaar met individuele naam of nummering</li>
          </ul>
          <p>Bij langdurig gebruik kan de opdruk na verloop van tijd gaan slijten. Voor een duurzaam effect kunt beter u kiezen voor een <a class="blue" href="https://www.allpremiums.nl/siliconen-polsbandjes-graveren-ingekleurde-gravering" title="silicone polsbandje met (ingekleurde) gravering">siliconen polsbandje met (ingekleurde) gravering</a>.</p>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-3 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->