---
layout: doc_full
nav: pdp
cat-url: keycords-lanyards-bedrukken
cat-title: keycords bedrukken
title: Onbedrukte keycords
title-page: 
description: Onbedrukte keycords kun je bij Allpremiums in 10 verschillende kleuren
  bestellen. Heb je snel keycords zonder opdruk nodig? Wij leveren met 2-3 werkdagen.
  Neem snel contact met ons op!
keywords: ''
main-image: "/assets/images/products/pf_overzicht_onbedrukte_keycords_"
carousel:
- image: "/assets/images/products/pf_overzicht_onbedrukte_keycords_"
- image: "/assets/images/products/pf_verzamel_basic_onbedrukte_lanyards"
- image: "/assets/images/products/pf_verzamel_onbedrukte_lanyards"
- image: "/assets/images/products/pf_verzamel_luxe_onbedrukte_lanyards"
- image: "/assets/images/products/badgehouder_pf_concept_1"
columns:
- col: Aantal
- col: Prijs keycord type 1
- col: Prijs keycord type 2
- col: Prijs keycord type 3
- col: Prijs pvc badgehouder 10x8,8cm
table:
- amount: "25"
  price: "€ 3,38"
  col3: "€ 3,40"
  col4: "€ 3,50"
  col5: "€ 0,35"
- amount: "50"
  price: "€ 2,38"
  col3: "€ 2,40\t"
  col4: "€ 2,50"
  col5: "€ 0,30"
- amount: "75"
  price: "€ 1,63"
  col3: "€ 1,65"
  col4: "€ 1,75"
  col5: "€ 0,28"
- amount: "100"
  price: "€ 1,38"
  col3: "€ 1,40"
  col4: "€ 1,50\t"
  col5: "€ 0,25"
- amount: "250"
  price: "€ 0,88"
  col3: "€ 0,90"
  col4: "€ 1,00"
  col5: "€ 0,20"
- amount: "500"
  price: "€ 0,39"
  col3: "€ 0,41"
  col4: "€ 0,61"
  col5: "€ 0,17"
- amount: '1.000'
  price: "€ 0,36"
  col3: "€ 0,38"
  col4: "€ 0,58"
  col5: "€ 0,16"
- amount: '2.500'
  price: "€ 0,34"
  col3: "€ 0,36"
  col4: "€ 0,55"
  col5: "€ 0,16"
- amount: '5.000'
  price: "€ 0,32"
  col3: "€ 0,34"
  col4: "€ 0,53"
  col5: "€ 0,15"
jotform-id: "200594559835365"
redirect_from:
- "/keycord-zonder-opdruk-onbedrukte-keycords/"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-9">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-5">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-7">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
          
          <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 25</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per stuk</td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. transport, excl. 21% btw.</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 3 werkdagen</td>
    </tr>
  </tbody>
</table>
<br>Wij leveren ook aan particulieren en verenigingen.
<br><br>  
  <h3 class="pdp">Onbedrukte Keycords</h3>                         
<p>Keycords kunt u ook zonder opdruk bestellen. Wij leveren deze keycords in 3 verschillende typen, met verschillende accessoires in 2 breedtes van 20mm en 25mm. </p>           
     <br>          
<h3 class="pdp">Keycord type 1: met bulldog clip</h3>      
<ul>
  <li>20mm breed</li>
  <li>leverbare kleuren: rood, wit, blauw, zwart</li>
</ul>  
<h3 class="pdp">Keycord type 2: met karabijnhaak en veiligheidsluiting</h3>  
<ul>          
  <li>20mm breed</li>
  <li>leverbare kleuren: rood, wit, blauw, zwart, geel</li>
</ul>    
 <h3 class="pdp">Keycord type 3: met karabijnhaak, veiligheidsluiting en buckle</h3>           
<ul>  
  <li>25mm breed</li>
  <li>leverbare kleuren: rood, wit, blauw, zwart, oranje, groen
</li>
</ul>
     <br>      
<p>Bestel gerust verschillende kleuren in 1 bestelling (minimale afname 25 keycords per type keycord). Als extra optie kunt u ook een transparante pvc badgehouder van 10x8,8cm bestellen.</p>               
<br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-3 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->