---
layout: doc_full
nav: pdp
cat-url: siliconen-polsbandjes-en-armbandjes
cat-title: siliconen polsbandjes
title: Onbedrukte blanco siliconen polsbandjes
title-page: 
description: Onbedrukte blanco silicone polsbandjes zonder opdruk. In iedere kleur en verschillende maten leverbaar.
keywords: ''
main-image: "/assets/images/products/onbedrukte_silicone_polsbandjes"
carousel:
- image: "/assets/images/products/onbedrukte_silicone_polsbandjes"
- image: "/assets/images/products/regenboog_silicone_polsbandjes"
- image: "/assets/images/products/leger_camouflage_silicone_polsbandje"
- image: "/assets/images/products/glow_in_the_dark"
- image: "/assets/images/products/zilver_en_goud_silicone_polsbandjes"
- image: "/assets/images/products/rood_wit_blauw_silicone_polsbandje"
- image: "/assets/images/products/blanco_silicone_polsbandjes"
- image: "/assets/images/products/silicone_polsbandjes_zonder_opdruk"
columns:
- col: Aantal
- col: Prijs per stuk
- col: Totaal excl. 21% btw.
- col: Totaal incl. 21% btw.  
table:
- amount: "1"
  price: "€ 7,40"
  col3: "€ 7,40"
  col4: "€ 8,95"
- amount: "2"
  price: "€ 5,99"
  col3: "€ 11,98"
  col4: "€ 14,50"
- amount: "3"
  price: "€ 4,68"
  col3: "€ 14,04"
  col4: "€ 16,99"
- amount: "5"
  price: "€ 3,96"
  col3: "€ 19,80"
  col4: "€ 23,96"
- amount: "10"
  price: "€ 3,47"
  col3: "€ 34,70"
  col4: "€ 41,99"
- amount: "25"
  price: "€ 1,95"
  col3: "€ 48,75"
  col4: "€ 58,99"
- amount: "50"
  price: "€ 1,15"
  col3: "€ 57,50"
  col4: "€ 69,58"
- amount: "100"
  price: "€ 0,65"
  col3: "€ 65,00"
  col4: "€ 78,65"
- amount: "200"
  price: "€ 0,39"
  col3: "€ 78,00"
  col4: "€ 94,38"
- amount: "250"
  price: "€ 0,34"
  col3: "€ 85,00"
  col4: "€ 102,85"
- amount: '500'
  price: "€ 0,29"
  col3: "€ 145,00"
  col4: "€ 175,45"
- amount: '1.000'
  price: "€ 0,22"
  col3: "€ 220,00"
  col4: "€ 266,20"  
- amount: 1.250>
  price: op aanvraag
  col3: op aanvraag
  col4: op aanvraag
jotform-id: "202036339974358"
---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-9">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-5">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-7">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
      <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 1</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per stuk, u kunt er bijvoorbeeld ook 7 bestellen</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: combineer gratis verschillende kleuren en maten in 1 bestelling!</td>
    </tr>    
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: inclusief transport</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 1-2 werkdagen</td>
    </tr>
  </tbody>
</table>
<br>Wij leveren ook aan particulieren en verenigingen.
<br>
<br>  
          <h2 class="pdp">Onbedrukte silicone polsbandjes bestellen</h3>
<p>Soms is het bedrukken van een tekst of logo niet nodig en heeft u aan blanco onbedrukte silicone polsbandjes voldoende.</p>
<p>Wij leveren silicone polsbandjes zonder opdruk, direct uit voorraad, in 15 verschillende kleuren en in 3 verschillende standaard maten. De levertijd is 1-3 werkdagen, afhankelijk van de ontvangst van de betaling, snelheid van de pakketpost of dat u de polsbandjes eventueel zelf komt ophalen.</p>
<br>
          <h3 class="pdp">Standaard kleuren direct uit voorraad leverbaar</h3>
<ul>
  <li>wit</li>
  <li>zwart</li>
  <li>oranje: pms 021</li>
  <li>geel: pantone yellow</li>
  <li>paars: pantone purple</li>
  <li>roze: pms 183</li>
  <li>middenblauw: process blue</li>
  <li>frisgroen: pms 368</li>
  <li>brandweerrood: pms 185</li>
  <li>glow in the dark: wit met groen lichtgevend effect</li>
  <li>zilver: pms 877</li>
  <li>goud: pms 871</li> 
  <li>rood-wit-blauw polsbandje</li>
  <li>regenboog polsbandje</li>
  <li>camouflage polsbandje</li> 
</ul>  
<br>  
        <h3 class="pdp">Standaard maten direct uit voorraad leverbaar</h3>          
<ul>
            <li>202x12x2mm: volwassenen</li>
            <li>180x12x2mm: jeugd vanaf ca. 7 jaar en ouder</li>
            <li>150x12x2mm: kinderen van ca. 4 - 6 jaar</li>
</ul>  
<br>                     
<p><strong>U kunt ook zonder extra kosten, verschillende standaard kleuren en maten in 1 bestelling combineren. Als u bijvoorbeeld 7 polsbandjes bestelt, dan betaalt u de prijs die bij dat aantal hoort: 4,13 excl. 21% btw. per stuk. U krijgt dus het prijsvoordeel van het totale aantal polsbandjes!</strong></p>
<br>
<p>Wilt u een eigen specifieke kleur of maat silicone polsbandjes bestellen? Ook dat is mogelijk! De minimale afname is 50 stuks per kleur en maat, de levertijd is ca. 2 weken. De instelkosten zijn 25,00 voor de mal per eigen maat. Als u een standaard maat wilt bestellen maar een eigen specifieke kleur polsbandjes, dan zijn er geen instelkosten voor de mal van toepassing.</p> 
<br>
          <p><strong>Vraag een vrijblijvende offerte aan of neem voor meer informatie contact met ons op!</strong></p>
<br>          
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-3 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->
