---
layout: doc_full
nav: pdp
cat-url: magneten-bedrukken-met-logo
cat-title: magneten bedrukken
title: Onbuigbare magneten bedrukken
title-page: 
description: 'Onbuigbaar bedrukte magneten gemaakt van hard kunststof. Altijd full
  color bedrukt en in iedere vorm leverbaar, ook met een transparante doming harslaag.
  Vraag naar de mogelijkheden of vraag een vrijblijvende offerte aan! '
keywords: ''
main-image: "/assets/images/products/deonet_hard_kunststof_1"
carousel:
- image: "/assets/images/products/deonet_hard_kunststof_1"
- image: "/assets/images/products/deonet_hard_kunststof_"
columns:
- col: Aantal
- col: 'Prijs met full color opdruk '
- col: Prijs met full color opdruk en Doming
table:
- amount: "100"
  price: "€ 2,76"
  col3: "€ 3,57"
- amount: "250"
  price: "€ 1,42"
  col3: "€ 2,06"
- amount: "500"
  price: "€ 0,92"
  col3: "€ 1,40"
- amount: '1.000'
  price: "€ 0,68"
  col3: "€ 1,05"
- amount: '2.500'
  price: "€ 0,56"
  col3: "€ 0,89"
jotform-id: "200585482015350"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
         
         
          
          
          
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->