---
layout: doc_full
nav: pdp
cat-url: kauwgom-bedrukken
cat-title: kauwgom bedrukken
title: Pakje kauwgom bedrukken (5)
title-page: 
description: Kauwgompakje bedrukt met uw logo. Deze kauwgom bedrukken wij precies
  zoals u wilt. In de blister zitten 5 stuks suikervrije kauwgom. Vraag een vrijblijvende
  offerte aan met laagste prijs garantie!
keywords: ''
main-image: "/assets/images/kauwgomblister_5_stuks"
carousel:
- image: "/assets/images/products/kauwgomblister_5_stuks"
columns:
- col: Aantal
- col: Prijs per stuk incl. opdruk
table:
- amount: '1.000'
  price: "€ 0,49"
- amount: '3.000'
  price: "€ 0,40"
- amount: '5.000'
  price: "€ 0,34"
- amount: '10.000'
  price: "€ 0,31"
jotform-id: "200603062129341"
redirect_from:
- "/kauwgompakjes-bedrukken/"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
<br>          
<br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 1.000</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per 500</td>
    </tr>
    <tr>
      <td><span class="table-blue">Inhoud</span></td>
      <td>: 5 suikervrije kauwgom</td>
    </tr>
    <tr>
      <td><span class="table-blue">Afmeting</span></td>
      <td>: ca. 110x35x10mm</td>
    </tr>
<tr>
      <td><span class="table-blue">Opdruk</span></td>
      <td>: full color rondom</td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: inclusief instelkosten en transport
      <td>: exclusief 21% btw.</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 15 werkdagen</td>
    </tr>  
</tbody>
</table>
<br>
<br>
  <p>Bedrukte kauwgompakjes voorzien van een blister met 5 suikervrije kauwgompjes. De kartonnen sleeve van de kauwgom bedrukken wij rondom full color met bijvoorbeeld uw foto, logo of (product) afbeelding. </p> 
<p>Als extra optie kunt u vanaf 3.000 stuks ook de onderkant van de blister met 1 kleur bedrukken. 
</p>        
<p>Voordat de productie start ontvangt u een digitale proef (jpeg), zodat u precies weet hoe de kauwgompakjes bedrukt worden. Wilt u het ontwerp na het zien van de digitale proef aanpassen? Doen we graag!</p>
    <br> 
          
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->
