---
layout: doc_full
nav: pdp
cat-url: magneten-bedrukken-met-logo
cat-title: magneten bedrukken
title: Plexiglas magneten bedrukken
title-page: 
description: Voor exclusieve bedrukte magneten met een luxe uitstraling, laat u plexiglas
  magneten bedrukken! Deze magneten met uw eigen opdruk worden afgewerkt met een 1mm
  dikke heldere plexi toplaag. Het glanzende plexiglas geeft uw opdruk een hele mooie
  uitstraling.
keywords: ''
main-image: "/assets/images/products/plexiglas_magneten"
carousel:
- image: "/assets/images/products/plexiglas_magneten"
- image: "/assets/images/products/plexiglas_magneet_1"
- image: "/assets/images/products/plexiglas_puzzel_magneet"
columns:
- col: Aantal
- col: Prijs per stuk standaard 0,4mm magneetvel (1)
- col: Prijs per stuk extra sterk 0,85mm magneetvel (2)
table:
- amount: "100"
  price: "€ 1,98"
  col3: "€ 2,18"
- amount: "200"
  price: "€ 1,27"
  col3: "€ 1,45"
- amount: "300"
  price: "€ 0,87"
  col3: "€ 0,99"
- amount: "400"
  price: "€ 0,80"
  col3: "€ 0,92"
- amount: "500"
  price: "€ 0,64"
  col3: "€ 0,75"
- amount: '1.000'
  price: "€ 0,56"
  col3: "€ 0,65"
- amount: 2.000>
  price: op aanvraag
  col3: op aanvraag
jotform-id: "200585745786367"
redirect_from:
- "/bedrukte-plexiglas-magneten/"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
          
          <br>
<p>(1) Standaard 0,4mm magneetvel: voor promotioneel gebruik.<br>
  (2) Extra sterk 0,85mm magneetvel: voor gebruik op memo en whiteboard.</p>
          <p>Prijzen in de tabel zijn op basis van afmeting 25cm2, prijzen andere afmetingen op aanvraag. Prijzen zijn van toepassing op eenvoudige vormen zoals bijvoorbeeld een vierkant, rechthoek, driehoek, circel of ovaal. Bij magneten met meer details in de vorm is de prijs hoger en op aanvraag, omdat er meer productie- en snijtijd voor nodig is.</p>       
       <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 100</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per stuk</td>
    </tr>
    <tr>
      <td><span class="table-blue">Opdruk</span></td>
      <td>: full color cmyk</td>
    </tr>
    <tr>
      <td><span class="table-blue">Materiaal</span></td>
      <td>: magneetvel verlijmd met plexiglas toplaag</td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. instelkosten en transport</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: excl. 21% btw.</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 12 werkdagen</td>
    </tr>
  </tbody>
</table>
<br>Wij leveren ook aan particulieren en verenigingen.
<br><br>  
  <h3 class="pdp">Plexiglas Magneten Bedrukken</h3>                         <p>Voor een exclusieve magneet met een luxe uitstraling laat u plexiglas magneten bedrukken! Deze magneten worden gemaakt, door een bedrukte magneet onzichtbaar met 1mm dik helder en glanzend plexiglas te verlijmen.</p>            
<p>De magnetische onderkant kan naar keuze gemaakt worden van een 0,4mm of 0,85mm magneetvel. Het 0,85mm magneetvel wordt ook gebruikt voor automagneten, heeft een extra sterke kleefkracht en is daarmee ook geschikt voor het memo of whiteboard.</p>
<p>  Voor de productie begint ontvangt u een digitale proef ter controle en akkoord (pdf bestand), zodat u ziet hoe de magneten voor u gemaakt worden.</p>    
          <br>          
<h3 class="pdp">Allpremiums Bedrukte Plexiglas Magneten</h3>
<ul>
  <li>altijd met uw eigen opdruk</li>
  <li>in iedere afmeting en vorm leverbaar</li>
  <li>combineer verschillende opdrukken in 1 bestelling</li>
  <li>geschikt voor het memo of whiteboard</li>
</ul>
<p>Wilt u eerst de kwaliteit beoordelen? Vraag een gratis sample aan!</p>                         
<br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->