---
layout: doc_full
nav: pdp
cat-url: siliconen-polsbandjes-en-armbandjes
cat-title: siliconen polsbandjes
title: Siliconen polsbandjes gekleurde segmenten
title-page: 
description: Meerdere verschillende kleuren in een silicone polsbandje verwerken?
  Kies dan voor siliconen armbandjes met gekleurde segmenten; een multi colour rubberen
  bandje met een unieke uitstraling!
keywords: ''
main-image: "/assets/images/products/multi-color_silicone_polsbandjes"
carousel:
- image: "/assets/images/products/multi-color_silicone_polsbandjes"
- image: "/assets/images/products/silicone_polsbandjes_gekleurde_segmenten"
- image: "/assets/images/products/siliconen_polsbandjes_multi_color"
- image: "/assets/images/products/siliconen_polsbandjes_gekleurde_segmenten"
- image: "/assets/images/products/silicone_armbandjes_meerdere_kleuren"
columns:
- col: Aantal
- col: 1 kleur opdruk
- col: Gravering of opliggend reliëf
- col: Ingekleurde gravering of reliëf extra opdruk
table:
- amount: "50"
  price: "€ 1,86"
  col3: "€ 1,96"
  col4: "€ 2,24"
- amount: "100"
  price: "€ 0,96"
  col3: "€ 0,99"
  col4: "€ 1,23"
- amount: "200"
  price: "€ 0,51"
  col3: "€ 0,57"
  col4: "€ 0,72"
- amount: "300"
  price: "€ 0,46"
  col3: "€ 0,49"
  col4: "€ 0,57"
- amount: "400"
  price: "€ 0,43"
  col3: "€ 0,44"
  col4: "€ 0,53"
- amount: "500"
  price: "€ 0,34"
  col3: "€ 0,34"
  col4: "€ 0,48"
- amount: "750"
  price: "€ 0,32"
  col3: "€ 0,33"
  col4: "€ 0,43"
- amount: '1.000'
  price: "€ 0,24"
  col3: "€ 0,24"
  col4: "€ 0,30"
- amount: 1.250>
  price: op aanvraag
  col3: op aanvraag
  col4: op aanvraag
jotform-id: "200583873780361"
redirect_from:
- "/siliconen-polsbandjes-gekleurde-segmenten-multi-color/"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-9">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-5">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-7">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
  <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 50</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per stuk</td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. instelkosten en transport</td>
    </tr>

    <tr>
      <td><span class="table-blue"></span></td>
      <td>: excl. 21% btw.</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 2 weken</td>
    </tr>
    <tr>
      <td><span class="table-blue">Kleuren</span></td>
      <td>: <a class="fa fa-file-text" href="#" onclick="window.open('/assets/pdf/PMS-Pantone-kleuren-overzicht.pdf', '_blank')" class="price"> PMS Pantone kleuren overzicht</a></td>
    </tr>
  </tbody>
</table>
<br>Wij leveren ook aan particulieren en verenigingen.
<br><br>  
<h3 class="pdp">Silicone polsbandjes met gekleurde segmenten</h3>
<p>zijn leuk om te maken met bijvoorbeeld de kleuren van de regenboog, een vlag, uw vereniging of bedrijf. U bepaalt de kleuren, de volgorde ervan en natuurlijk de tekst of het logo voor op de polsbandjes.</p>  
<p>U kunt de silicone polsbandjes bestellen met een opdruk, gravering of een opliggend reliëf. Wilt u nog meer opvallen? Kies dan voor een ingekleurde gravering of een opliggend reliëf met een extra kleur bedrukt bovenop het reliëf.</p>
<p>De polsbandjes worden gemaakt door het vloeibare silicone materiaal in verschillende kleuren in een mal te gieten. Op deze manier ontstaan er echt unieke polsbandjes. De breedte van de gekleurde segmenten kan per polsbandje iets verschillen en omdat het silicone materiaal zich een klein beetje zal mengen, ziet ieder polsbandje er net even iets anders uit.</p>  
<br>
<h3 class="pdp">Multi color silicone polsbandjes</h3>
<ul>
  <li>maximaal 7 segmenten in een polsbandje</li>
  <li>u bepaald zelf de kleuren en de volgorde</li>
  <li>altijd met uw eigen tekst of logo</li>
  <li>gratis vrijblijvend ontwerp en digitale proef</li>
  <li>fraaie 2mm dikke kwaliteit polsbandjes</li>
  <li>4 standaard maten of uw eigen maat</li>
  <li>ook met bedrukte binnenkant of per stuk verpakt</li>
  <li>en met individuele nummering of naam</li>
</ul>
<br>
<h3 class="pdp">Maten</h3>
<p>Wij leveren silicone polsbandjes in 4 verschillende standaard maten. Het is bovendien mogelijk uw eigen maat te bestellen.</p>
<ul>
            <li>202x12x2mm: standaard (volwassenen maat)</li>
            <li>190x12x2mm: damesmaat</li>
            <li>180x12x2mm: jeugdmaat vanaf ca. 7 jaar</li>
            <li>150x12x2mm: kinderen ca. 4-6 jaar</li>
            <li>of uw eigen maat</li>
          </ul>
<p>U kunt ook verschillende maten in 1 bestelling combineren. Voor iedere extra maat met een opdruk wordt er € 15,00 instelkosten voor de drukzeef berekend. Bij een gravering of opliggend reliëf zijn de kosten € 25,00 voor de mal per extra maat.</p>
          <br>
          <p>Bent u ook nieuwsgierig hoe "uw polsbandje" er uitziet? Vraag dan geheel vrijblijvend een offerte aan en ontvang een gratis digitaal voorbeeld (Jpeg afbeelding).</p>  
<br>       
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-3 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->
