---
layout: doc_full
title: Siliconen polsbandjes bedrukken
title-page:
description: "Silicone polsbandjes bedrukken wij in alle kleuren met je logo of tekst. Vraag vrijblijvend een offerte aan voor de scherpste prijs!"
keywords: "siliconen polsbandjes bedrukken, silicone polsbanden met opdruk, bedrukte siliconen armbandjes, silicone polsbandje bedrukt met uw eigen tekst"
carousel:
  - image: /assets/images/products/silicone_polsbandje_bedrukken_1
  - image: /assets/images/products/bedrukt_en_swirl_marmer_effect
  - image: /assets/images/products/silicone_polsbandjes_bedrukt_met_gekleurde_segmenten
  - image: /assets/images/products/bedrukt_en_glow_in_the_dark
  - image: /assets/images/products/bedrukte_silicone_polsbandjes_2
jotform-id: 93403539707360
---
    <!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          <article class="looking-for-service wow fadeInLeft" data-wow-duration="1s">
            {% for slider in page.carousel %}
            <picture>
                <source srcset="{{slider.image}}.webp" type="image/webp">
                <source srcset="{{slider.image}}.jpg" type="image/jpeg">
                <img class="slides" alt="{{page.title}}" src="{{slider.image}}.jpg" style="width:100%">
            </picture>
            {% endfor %}

            <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
          </article>
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          <div id="price-table" class="clearfix">
            <div class="share-title">Prijs informatie</div>
          	 <div class="table-description clearfix">
          	    <table border="0" class="amountprice">
                  	<col style="width:50%">
                  	<col style="width:50%">
                  	<thead>
                  	<tr>
                  		<th>Aantal</th>
                  		<th>Prijs per stuk</th>
                  	</tr>
                  	</thead>
                  	<tbody>
                  	<tr>
                  		<th>50</th>
                  		<td>1,25</td>
                  	</tr>
                  	<tr>
                  		<th>100</th>
                  		<td>0,79</td>
                  	</tr>
                  	<tr>
                  		<th>200</th>
                  		<td>0,45</td>
                  	</tr>
                    <tr>
                      <th>300</th>
                      <td>0,37</td>
                    </tr>
                    <tr>
                      <th>400</th>
                      <td>0,33</td>
                    </tr>
                    <tr>
                      <th>500</th>
                      <td>0,30</td>
                    </tr>
                    <tr>
                      <th>750</th>
                      <td>0,28</td>
                    </tr>
                    <tr>
                      <th>1000</th>
                      <td><span class="price">0,24</span></td>
                    </tr>
                    <tr>
                      <th>1.200 ></th>
                      <td>op aanvraag</td>
                    </tr>
                  	</tbody>
                  </table>
                </table>
             </div>
          </div>
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
          <p>Siliconen polsbandjes bedrukken wij helemaal zoals u het wilt, in iedere kleur en altijd met uw eigen tekst of logo.</p>
          <ul>
            <li>gratis vrijblijvend ontwerp en digitale proef</li>
            <li>mooie 2mm dikke kwaliteit polsbandjes</li>
            <li>combineer verschillende kleuren in uw bestelling</li>
            <li>in vier standaard maten of uw eigen afmeting leverbaar</li>
            <li>op aanvraag per stuk verpakt of met opdruk binnenkant</li>
            <li>ook leverbaar met individuele naam of nummering</li>
          </ul>
          <p>Bij langdurig gebruik kan de opdruk na verloop van tijd gaan slijten. Voor een duurzaam effect kunt beter u kiezen voor een <a class="blue" href="https://www.allpremiums.nl/siliconen-polsbandjes-graveren-ingekleurde-gravering" title="silicone polsbandje met (ingekleurde) gravering">siliconen polsbandje met (ingekleurde) gravering</a>.</p>
          <table border="0">
            <tbody>
              <tr>
                <td><span class="price">Minimale afname</span></td>
                <td>: 50</td>
              </tr>
              <tr>
                <td><span class="price">Besteleenheid</span></td>
                <td>: per stuk (u kunt er bijv. ook 267 bestellen)</td>
              </tr>
              <tr>
                <td><span class="price">Levertijd</span></td>
                <td>: ca. 2 weken</td>
              </tr>
              <tr>
                <td><span class="price">Leverbare kleuren</span></td>
                <td>: <a class="fa fa-file-text" href="#" onclick="window.open('/assets/pdf/PMS-Pantone-kleuren-overzicht.pdf', '_blank')" class="price"> PMS Pantone kleuren overzicht</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->
    <style>
    .slides {display:none;}
    .w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
    .w3-black{color:#fff!important;background-color:#000!important}
    .w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
    .w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
    </style>
    <div class="col-md-6 col-lg-6">
      {% for slider in page.carousel %}
        <img class="slides" src="{{slider.image}}" style="width:100%">
      {% endfor %}
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
    </div>
    <script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("slides");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      x[slideIndex-1].style.display = "block";
    }
    </script>
