---
layout: doc_full
nav: pdp
cat-url: siliconen-polsbandjes-en-armbandjes
cat-title: siliconen polsbandjes
title: Siliconen polsbandjes marmer effect
title-page: 
description: Siliconen polsbandjes en armbandjes met een subtiel swirl marmer effect.
  U bepaalt zelf de kleuren van het bandje en het marmeren effect, wij mengen het
  voor u. Vraag een vrijblijvende offerte aan!
keywords: ''
main-image: "/assets/images/products/siliconen_polsbandje_swirl_marmer"
carousel:
- image: "/assets/images/products/siliconen_polsbandje_swirl_marmer"
- image: "/assets/images/products/swirl_siliconen_polsbandjes"
- image: "/assets/images/products/marmeren_siliconen_polsbandjes"
- image: "/assets/images/products/marmer_silicone_polsbandje"
- image: "/assets/images/products/siliconen_polsbandjes_swirl_marmer"
columns:
- col: Aantal
- col: 1 kleur opdruk
- col: Gravering of opliggend reliëf
- col: Ingekleurde gravering
- col: Opliggend reliëf extra opdruk
table:
- amount: "50"
  price: "€ 1,25"
  col3: "€ 1,75"
  col4: "€ 1,79"
  col5: "€ 2,03"
- amount: "100"
  price: "€ 0,79"
  col3: "€ 0,95"
  col4: "€ 0,99"
  col5: "€ 1,10"
- amount: "200"
  price: "€ 0,45"
  col3: "€ 0,57"
  col4: "€ 0,61"
  col5: "€ 0,66"
- amount: "300"
  price: "€ 0,37"
  col3: "€ 0,46"
  col4: "€ 0,50"
  col5: "€ 0,53"
- amount: "400"
  price: "€ 0,33"
  col3: "€ 0,41"
  col4: "€ 0,45"
  col5: "€ 0,47"
- amount: "500"
  price: "€ 0,30"
  col3: "€ 0,32"
  col4: "€ 0,36"
  col5: "€ 0,38"
- amount: "750"
  price: "€ 0,28"
  col3: "€ 0,29"
  col4: "€ 0,33"
  col5: "€ 0,34"
- amount: '1.000'
  price: "€ 0,24"
  col3: "€ 0,25"
  col4: "€ 0,29"
  col5: "€ 0,30"
- amount: 1.250>
  price: op aanvraag
  col3: op aanvraag
  col4: op aanvraag
  col5: op aanvraag
jotform-id: "200583667543359"
redirect_from:
- "/siliconen-polsbandjes-marmer/"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-9">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-5">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-7">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
        <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 50</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per stuk</td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. instelkosten en transport</td>
    </tr>

    <tr>
      <td><span class="table-blue"></span></td>
      <td>: excl. 21% btw.</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 2 weken</td>
    </tr>
    <tr>
      <td><span class="table-blue">Kleuren</span></td>
      <td>: <a class="fa fa-file-text" href="#" onclick="window.open('/assets/pdf/PMS-Pantone-kleuren-overzicht.pdf', '_blank')" class="price"> PMS Pantone kleuren overzicht</a></td>
    </tr>
  </tbody>
</table>
<br>Wij leveren ook aan particulieren en verenigingen.
<br><br>  
<h3 class="pdp">Silicone polsbandjes met marmer effect</h3>
<p>Wilt u een heel bijzonder silicone polsbandje laten maken? Bestel dan polsbandjes met een marmer effect. Door het mengen van verschillende kleuren ontstaat de gemarmerde uitstraling, dat er bij ieder polsbandje nét weer even anders uitziet.</p>
<p>De kleuren bepaalt u zelf, net zoals natuurlijk de tekst of het logo voor op de polsbandjes. U kunt de silicone polsbandjes bestellen met een opdruk, gravering of een opliggend reliëf. Mag het nog meer opvallen? Kies dan voor een ingekleurde gravering of een opliggend reliëf met een extra kleur bedrukt bovenop het reliëf.</p>
<p>Ook nieuwsgierig hoe "uw polsbandje" er uit kan zien? Vraag dan een vrijblijvende offerte aan en ontvang een gratis digitaal voorbeeld (Jpeg afbeelding).</p>  
<br>
<h3 class="pdp">Allpremiums Silicone Polsbandjes</h3>
<ul>
  <li>bepaal zelf de gemengde kleuren (max. 3)</li>
  <li>altijd met uw eigen tekst of logo</li>
  <li>vrijblijvend ontwerp en digitale proef</li>
  <li>stevige 2mm dikke kwaliteit polsbandjes</li>
  <li>4 standaard maten of uw eigen maat</li>
  <li>ook met bedrukte binnenkant of per stuk verpakt</li>
  <li>en met individuele nummering of naam</li>
</ul>
<br>
<h3 class="pdp">Maten</h3>
<p>Wij leveren silicone polsbandjes in 4 verschillende standaard maten. Het is bovendien mogelijk uw eigen maat te bestellen.</p>
<ul>
            <li>202x12x2mm: standaard (volwassenen maat)</li>
            <li>190x12x2mm: damesmaat</li>
            <li>180x12x2mm: jeugdmaat vanaf ca. 7 jaar</li>
            <li>150x12x2mm: kinderen ca. 4-6 jaar</li>
            <li>of uw eigen maat</li>
          </ul>
<p>U kunt ook verschillende maten in 1 bestelling combineren. Voor iedere extra maat met een opdruk wordt er € 15,00 instelkosten voor de drukzeef berekend. Bij een gravering of opliggend reliëf zijn de kosten € 25,00 voor de mal per extra maat.</p>
<br> 
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-3 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->