---
layout: doc_full
nav: pdp
cat-url: siliconen-polsbandjes-en-armbandjes
cat-title: siliconen polsbandjes
title: Siliconen polsbandjes glow in the dark
title-page: 
description: Glow armbandjes voor een leuk effect in het donker op feesten en evenementen.
  Lichtgevende glow in the dark siliconen polsbandjes maken en bedrukken wij in alle
  kleuren en zijn ook te bestellen met een (ingekleurde) gravering of opliggend reliëf.
keywords: ''
main-image: "/assets/images/products/bedrukt_en_glow_in_the_dark"
carousel:
- image: "/assets/images/products/bedrukt_en_glow_in_the_dark"
- image: "/assets/images/products/lichtgevende_siliconen_polsbandjes"
- image: "/assets/images/products/glow_siliconen_polsbandjes"
- image: "/assets/images/products/silicone_polsbandje_glow_in_the_dark"
- image: "/assets/images/products/lichtgevende_silicone_polsbandjes"
- image: "/assets/images/products/glow_silicone_polsbandjes"
columns:
- col: Aantal
- col: 1 kleur opdruk
- col: Gravering of opliggend reliëf
- col: Ingekleurde gravering of reliëf extra opdruk
table:
- amount: "50>"
  price: "€ 1,92"
  col3: "€ 2,14"
  col4: "€ 2,24"
- amount: "100>"
  price: "€ 1,01"
  col3: "€ 1,15"
  col4: "€ 1,25"
- amount: "200>"
  price: "€ 0,60"
  col3: "€ 0,68"
  col4: "€ 0,73"
- amount: "300>"
  price: "€ 0,51"
  col3: "€ 0,55"
  col4: "€ 0,57"
- amount: "400>"
  price: "€ 0,48"
  col3: "€ 0,51"
  col4: "€ 0,53"
- amount: "500>"
  price: "€ 0,45"
  col3: "€ 0,46"
  col4: "€ 0,48"
- amount: "750>"
  price: "€ 0,39"
  col3: "€ 0,40"
  col4: "€ 0,42"
- amount: '1.000>'
  price: "€ 0,33"
  col3: "€ 0,33"
  col4: "€ 0,35"
- amount: 2.000>
  price: op aanvraag
  col3: op aanvraag
  col4: op aanvraag
jotform-id: "201443930916352"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-9">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-5">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-7">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
    <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 50</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per stuk</td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. instelkosten en transport</td>
    </tr>

    <tr>
      <td><span class="table-blue"></span></td>
      <td>: excl. 21% btw.</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 2-3 weken</td>
    </tr>
    <tr>
      <td><span class="table-blue">Kleuren</span></td>
      <td>: <a class="fa fa-file-text" href="#" onclick="window.open('/assets/pdf/PMS-Pantone-kleuren-overzicht.pdf', '_blank')" class="price"> PMS Pantone kleuren overzicht</a></td>
    </tr>
  </tbody>
</table>
<br>Wij leveren ook aan particulieren en verenigingen.
<br><br>  
<h2 class="pdp">Glow in the dark silicone polsbandjes</h2>
<p>zijn populair vanwege het opvallende lichtgevende effect in het donker. Wij leveren alleen witte polsbandjes met een groen lichtgevend effect, omdat deze het meeste licht in het donker geven. Andere kleuren silicone polsbandjes geven bijna geen licht in het donker. Uw tekst of logo maken wij wel in iedere kleur.</p>
<p>Vóór het dragen legt u de glow armbandjes in het daglicht of onder een lamp om het lichtgevende materiaal te activeren. Tijdens het dragen verdwijnt het lichtgevende effect op een gegeven moment. Met bijvoorbeeld een lichtje op uw Smartphone "laadt" u de bandjes weer op.</p>
<p>De silicone polsbandjes zijn leverbaar met een opdruk, gravering of een opliggend reliëf. Wilt u de polsbandjes nog meer op laten vallen? Neem dan een ingekleurde gravering, of een opliggend reliëf met een extra kleur bedrukt bovenop het reliëf.</p>
<br>
<h2 class="pdp">Lichtgevende silicone polsbandjes</h2>
<ul>
  <li>standaard witte polsbandjes met groen glow effect</li>
  <li>uw tekst of logo in alle kleuren leverbaar</li>
  <li>vrijblijvend ontwerp en digitale proef</li>
  <li>mooie 2mm dikke kwaliteit polsbandjes</li>
  <li>4 standaard maten of uw eigen maat</li>
  <li>ook met bedrukte binnenkant of per stuk verpakt</li>
  <li>en met individuele nummering of naam</li>
</ul>
<br>
<h2 class="pdp">Silicone polsbandjes glow in the dark maten</h2>
<p>Wij leveren silicone polsbandjes in 4 verschillende standaard maten. Het is ook mogelijk uw eigen maat met een andere omtrek te laten maken.</p>
<ul>
            <li>202x12x2mm: standaard (volwassenen maat)</li>
            <li>190x12x2mm: damesmaat</li>
            <li>180x12x2mm: jeugdmaat vanaf ca. 7 jaar</li>
            <li>150x12x2mm: kinderen ca. 4-6 jaar</li>
            <li>of uw eigen maat</li>
          </ul>
          <br>
<p>U kunt ook verschillende maten in 1 bestelling combineren. Voor iedere extra maat met een opdruk wordt er € 15,00 instelkosten voor de drukzeef berekend. Bij een gravering of opliggend reliëf zijn de kosten € 25,00 voor de mal per extra maat. Dit zijn ook de kosten voor de mal wanneer u silicone polsbandjes in uw eigen maat wilt laten maken.</p>
          <br>
<p>Bent u nieuwsgierig hoe uw eigen polsbandjes er uit kunnen zien? Vraag dan een vrijblijvende offerte aan en ontvang een gratis digitaal voorbeeld (Jpeg afbeelding).</p>
<br>             
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-3 mx-auto">
        {% include form/jotform.html %}
            <!-- Start FORM -->
            {% include form/sil-glow-201443930916352.html %}
           <!-- End FORM -->
    </div>
    <!-- Right Col END - Form -->
