---
layout: doc_full
nav: pdp
cat-url: siliconen-polsbandjes-en-armbandjes
cat-title: siliconen polsbandjes
title: Siliconen sleutelhangers
title-page: 
description: Siliconen sleutelhangers zijn heel leuk om aan uw klanten weg te geven!
  Niet alleen geschikt om reclame te maken maar ook nog eens heel praktisch; door
  het gebruik van de silicone sleutel hanger wordt uw promotie vaak gezien!
keywords: ''
main-image: "/assets/images/products/silicone_sleutelhanger_copy_1"
carousel:
- image: "/assets/images/products/silicone_sleutelhanger_copy_1"
- image: "/assets/images/products/siliconen_sleutelhanger_copy_1"
- image: "/assets/images/products/siliconen_sleutelhangers_copy_1"
columns:
- col: Aantal
- col: Gravering of opliggend reliëf
- col: Ingekleurde gravering
table:
- amount: "50"
  price: "€ 1,99"
  col3: "€ 2,01"
- amount: "100"
  price: "€ 1,07"
  col3: "€ 1,09"
- amount: "200"
  price: "€ 0,67"
  col3: "€ 0,69"
- amount: "300"
  price: "€ 0,58"
  col3: "€ 0,60"
- amount: "500"
  price: "€ 0,52"
  col3: "€ 0,54"
- amount: '1.000'
  price: "€ 0,40"
  col3: "€ 0,42"
- amount: 1.250>
  price: op aanvraag
  col3: op aanvraag
jotform-id: "200584392181353"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
         <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 50</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per stuk</td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. instelkosten en transport</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: excl. 21% btw.</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 2 weken</td>
    </tr>
    <tr>
      <td><span class="table-blue">Kleuren</span></td>
      <td>: <a class="fa fa-file-text" href="#" onclick="window.open('/assets/pdf/PMS-Pantone-kleuren-overzicht.pdf', '_blank')" class="price"> PMS Pantone kleuren overzicht</a></td>
    </tr> 
  </tbody>
</table>
<br>Wij leveren ook aan particulieren en verenigingen.
<br><br>          
<h3 class="pdp">Silicone sleutelhangers</h3>
<p>zijn een leuke variant op de silicone polsbandjes én met een praktische toepassing. Met behulp van een clip en een ring wordt er van een polsbandje een sleutelhanger gemaakt.</p>
<p> Wij leveren silicone sleutelhangers met een gravering, opliggend reliëf of een ingekleurde gravering. Bewust niet met een opdruk, omdat een opdruk door het intensieve gebruik en weersinvloeden op een gegeven moment zal gaan slijten.<p/>
<p>Silicone sleutelhangers leveren wij altijd met uw eigen tekst of logo. De sleutelhangers (en ingekleurde gravering) zijn in iedere kleur leverbaar. Door het dagelijkse gebruik van de sleutelhanger, worden uw tekst of logo steeds opnieuw door de gebruiker gezien. Op deze manier blijft u continu onder de aandacht!</p>
<p>Voordat de productie start ontvangt u een digitale proef (jpeg), zodat u precies weet hoe de sleutelhangers er uit gaan zien. Wilt u het ontwerp na het zien van de digitale proef aanpassen? Doen we graag!</p> <br>          
<h3 class="pdp">Silicone sleutelhangers bestellen</h3>
<ul>
  <li>altijd met uw eigen tekst of logo</li>
  <li>in iedere kleur leverbaar</li>
  <li>gratis vrijblijvend ontwerp en digitale proef</li>
  <li>mooie 2mm dikke kwaliteit</li>
  <li>combineer verschillende kleuren in uw bestelling</li>
</ul>
<br>
<h3 class="pdp">Speciale effecten</h3>
<p>Silicone sleutelhangers kunt u ook met een speciaal effect bestellen:</p>
<ul>
            <li>glow in the dark: +0,04 (1)</li>
            <li>gekleurde segmenten: geen meerprijs (2)</li>
            <li>marmer effect: geen meerprijs (3)</li>
          </ul>
<p>(1) Glow in the dark sleutelhangers zijn standaard wit van kleur met een groen lichtgevend effect. Een ingekleurde gravering is in iedere kleur mogelijk.</p>
<p>(2) Bij gekleurde segmenten wordt de silicone sleutelhanger gemaakt met verschillende gekleurde gedeelten naast elkaar. </p>
<p>(3) Bij het marmer effect worden 2 verschillende kleuren door elkaar gemengd. Hierdoor ontstaat er een "wolkerig-marmer" effect.</p>
<br>
<p>Bent u ook nieuwsgierig hoe "uw silicone sleutelhangers" er uit kunnen zien? Vraag dan een vrijblijvende offerte aan en ontvang een gratis digitaal voorbeeld (Jpeg afbeelding).</p>       
<br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->
