---
layout: doc_full
nav: pdp
cat-url: siliconen-polsbandjes-en-armbandjes
cat-title: siliconen polsbandjes
title: Siliconen polsbandjes met glitters
title-page: 
description: Feestelijk siliconen polsbandjes met glitters voor een partijtje of evenement.
  Wij leveren deze leuke silicone polsbandjes in alle kleuren met een opdruk, gravering
  of opliggend relief.
keywords: ''
main-image: "/assets/images/products/siliconen_polsbandjes_met_glitters"
carousel:
- image: "/assets/images/products/siliconen_polsbandjes_met_glitters"
- image: "/assets/images/products/glitter_siliconen_polsbanden"
- image: "/assets/images/products/glitter_siliconen_polsbandje"
columns:
- col: Aantal
- col: 1 kleur opdruk
- col: Gravering of opliggend reliëf
- col: Ingekleurde gravering of reliëf extra opdruk
table:
- amount: "50"
  price: "€ 1,84"
  col3: "€ 2,10"
  col4: "€ 2,16"
- amount: "100"
  price: "€ 1,06"
  col3: "€ 1,13"
  col4: "€ 1,22"
- amount: "200"
  price: "€ 0,66"
  col3: "€ 0,73"
  col4: "€ 0,76"
- amount: "300"
  price: "€ 0,53"
  col3: "€ 0,53"
  col4: "€ 0,60"
- amount: "400"
  price: "€ 0,49"
  col3: "€ 0,49"
  col4: "€ 0,56"
- amount: "500"
  price: "€ 0,40"
  col3: "€ 0,40"
  col4: "€ 0,46"
- amount: "750"
  price: "€ 0,39"
  col3: "€ 0,39"
  col4: "€ 0,45"
- amount: '1.000'
  price: "€ 0,32"
  col3: "€ 0,32"
  col4: "€ 0,38"
- amount: 1.250>
  price: op aanvraag
  col3: op aanvraag
  col4: op aanvraag
jotform-id: "200583667543359"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-9">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-5">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-7">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
      <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 50</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per stuk</td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. instelkosten en transport</td>
    </tr>

    <tr>
      <td><span class="table-blue"></span></td>
      <td>: excl. 21% btw.</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 2-3 weken</td>
    </tr>
    <tr>
      <td><span class="table-blue">Kleuren</span></td>
      <td>: <a class="fa fa-file-text" href="#" onclick="window.open('/assets/pdf/PMS-Pantone-kleuren-overzicht.pdf', '_blank')" class="price"> PMS Pantone kleuren overzicht</a></td>
    </tr>
  </tbody>
</table>
<br>Wij leveren ook aan particulieren en verenigingen.
<br><br>  
<h2 class="pdp">Glitter silicone polsbandjes</h2>
<p>Bent u op zoek naar feestelijke silicone polsbandjes? Laat dan zilveren glitters in de polsbandjes verwerken! De silicone polsbandjes zijn in iedere kleur leverbaar en worden altijd gemaakt met uw eigen logo of tekst.</p>
<p> U kunt kiezen voor een opdruk, gravering of een opliggend reliëf. Als uw tekst of logo nog meer mag opvallen, dan kan de gravering inkleurd worden of het opliggend reliëf extra bedrukt met een contrast kleur.</p>
<br>
<h2 class="pdp">Silicone polsbandjes met glitters laten maken</h2>
<ul>
  <li>de glitters zijn altijd zilver van kleur</li>
  <li>silicone polsbandjes in iedere kleur leverbaar</li>
  <li>altijd met uw eigen tekst of logo</li>
  <li>vrijblijvend ontwerp en digitale proef</li>
  <li>stevige 2mm dikke kwaliteit polsbandjes</li>
  <li>4 standaard maten of uw eigen maat</li>
  <li>ook met bedrukte binnenkant of per stuk verpakt</li>
  <li>en met individuele nummering of naam</li>
</ul>
<br>
<h2 class="pdp">Maten glitter silicone polsbandjes</h2>
<p>Wij leveren de polsbandjes in 4 verschillende standaard maten, het is ook mogelijk uw eigen maat met een andere omtrek te laten maken.</p>
<ul>
            <li>202x12x2mm: standaard (volwassenen maat)</li>
            <li>190x12x2mm: damesmaat</li>
            <li>180x12x2mm: jeugdmaat vanaf ca. 7 jaar</li>
            <li>150x12x2mm: kinderen ca. 4-6 jaar</li>
            <li>of uw eigen maat</li>
          </ul>
          <br>
<p>Verschillende maten zijn in 1 bestelling te combineren. Voor iedere extra maat met een opdruk wordt er € 15,00 instelkosten voor de drukzeef berekend. Bij een gravering of opliggend reliëf zijn de kosten € 25,00 voor de mal per extra maat.</p>
<br>
<p>Bent u ook nieuwsgierig hoe "uw polsbandjes" er uit kunnen zien? Vraag dan een vrijblijvende offerte aan en ontvang een gratis digitaal voorbeeld (Jpeg afbeelding).</p>
<br>          
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-3 mx-auto">
        {% include form/jotform.html %}
            <!-- Start FORM -->
            {% include form/sil-glit-200583667543359.html %}
           <!-- End FORM -->
    </div>
    <!-- Right Col END - Form -->
