---
layout: default
title: Siliconen Polsbandjes
description: ""
keywords: ""
pagination:
  enabled: true
---
{% include header.html %}
{% include page_header.html %}
   <!-- Start Blog  Area -->
   <section class="blog-area bg-color1">
      <div class="blog-wrapper section-spacing bminus-30">
         <div class="container">
            <div class="row">
               <div class="col-md-5 col-lg-4">

                 <nav class="navigation-navbar">
                    <ul id="navigation-menu" class="slimmenu-cat">
                    {% for link in site.data.navigation %}
                      {% assign active = nil %}

                      {% if link.text contains 'Product Categoriën' %}

                      {% for sublink in link.submenu %}
                        {% if page.url contains sublink.url %}
                          {% assign active = 'active' %}
                        {% endif %}
                      {% endfor %}

                      {% if page.url contains link.url %}
                        {% assign active = 'active' %}
                      {% endif %}

                      {% if link.submenu %}
                        <ul class="themeix-dropdown-item" role="menu">
                          {% for sublink in link.submenu %}
                            <li {% if page.url contains sublink.url %}class="active"{% endif %}>
                              <a href="{{ sublink.url|prepend:site.baseurl }}">{{ sublink.text }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}

                      {% endif %}

                  {% endfor %}
                 </ul>
                </nav>

               </div>
               <div class="col-md-7 col-lg-8">
                 <div class="row">
                     {% for cat in site.data.cat_siliconen %}
                         <div class="col-md-6">
                             <article class="looking-for-service wow {{cat.animation}}" data-wow-duration="1s">
                                 <header class="looking-for-logo">
                                     <a href="{{cat.url}}"><img src="{{cat.icon}}" alt="{{cat.title}}"></a>
                                 </header>
                                 <footer class="looking-for-content">
                                     <h4 class="heading-4"><a href="{{cat.url}}">{{cat.title}}</a></h4>
                                     <p> {{cat.description}}</p>
                                     <a href="{{cat.url}}" class="btn-style3 btn mt-3">Bekijk Product</a>
                                 </footer>
                             </article>
                         </div>
                     {% endfor %}
                 </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- End Blog Area -->
{% include footer.html %}
