---
layout: doc_full
nav: pdp
cat-url: lolly-bedrukken
cat-title: lolly bedrukken
title: SNEL lolly in flowpack zakje bedrukken
title-page: 
description: Ronde knots lolly verpakt in flowpack zakje dat wij rondom met uw eigen logo, afbeelding of reclame tekst bedrukken. Vraag vrijblijvend een offerte met laagste prijs arantie aan!
keywords: ''
main-image: "/assets/images/products/snel_lolly_in_flowpack_zakje_bedrukken"
carousel:
- image: "/assets/images/products/lollies_bedrukt_in_zakje"
- image: "/assets/images/products/lollies_bedrukken_in_zakje"
- image: "/assets/images/products/lollie_bedrukken_in_zakje"
columns:
- col: Aantal
- col: Prijs incl. 1 kleur opdruk
- col: Prijs incl. 2 kleuren opdruk
- col: Prijs incl. 3 kleuren opdruk
- col: Prijs incl. 4 kleuren opdruk
table:
- amount: '5.000'
  price: "€ 0,195"
  col3: "€ 0,215"
  col4: "€ 0,235"
  col5: "€ 0,256"
- amount: '10.000'
  price: "€ 0,181"
  col3: "€ 0,192"
  col4: "€ 0,203"
  col5: "€ 0,214"
- amount: '20.000'
  price: "€ 0,175"
  col3: "€ 0,181"
  col4: "€ 0,187"
  col5: "€ 0,193"
- amount: '30.000'
  price: "€ 0,172"
  col3: "€ 0,177"
  col4: "€ 0,181"
  col5: "€ 0,186"
- amount: '50.000'
  price: "€ 0,171"
  col3: "€ 0,174"
  col4: "€ 0,177"
  col5: "€ 0,181"
jotform-id: "201904632299357"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
                   <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 5.000</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per 1.000</td>
    </tr>
    <tr>
      <td><span class="table-blue">Houdbaarheid</span></td>
      <td>: 12 maanden</td>
    </tr>
    <tr>
      <td><span class="table-blue">Opdruk</span></td>
      <td>: 1 - 4 PMS kleuren</td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. instelkosten & transport</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: exclusief 21% btw.</td>
    </tr>    
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 12-15 werkdagen</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: vanaf 20.000 stuks ca. 15-20 werkdagen</td>
    </tr>    
</tbody>
</table>
<br>
<br>    
<h3 class="pdp">Snel lollies in flowpack zakje bedrukken</h3>  
  
<p>Heeft u binnenkort een leuk evenement en heeft u snel bedrukte lollies nodig? Deze lollies in een flowpack zakje zijn al vanaf ca. 12-15 werkdagen leverbaar met uw eigen logo, tekst of afbeelding bedrukt. De exacte levertijd is afhankelijk van het gewenste aantal.</p>
          
<br>          
<h3 class="pdp">Bedrukte lollies</h3>       
 <ul>
     <li>altijd met uw eigen logo, tekst of afbeelding</li>
     <li>rondom met 1-4 kleuren bedrukt</li>
     <li>6 smaken leverbaar: aardbei, appel, sinaasappel, citroen, kersen en cola</li>
     <li>combinatie van smaken is mogelijk: minimaal 5.000 lollies per smaak</li>  
 </ul>            
<br>
          <p><strong>Vraag vrijblijvend een offerte aan met laagste prijs garantie!</strong></p>
<br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
        {% include form/jotform.html %}
            <!-- Start FORM -->
            {% include form/lol-snel-flow-201904632299357.html %}
           <!-- End FORM -->
    </div>
    <!-- Right Col END - Form -->
