---
layout: doc_full
nav: pdp
cat-url: keycords-lanyards-bedrukken
cat-title: keycords bedrukken
title: Snel keycords bedrukken
title-page: 
description: Heb je snel bedrukte keycords nodig? Bij Allpremiums kun je met spoed
  keycords laten bedrukken. Met een levertijd van ca. 5 werkdagen kun je snel keycords
  bestellen. Vraag vrijblijvend een offerte aan of neem contact met ons op!
keywords: ''
main-image: "/assets/images/products/typen_spoed_keycords_bedrukken_2"
carousel:
- image: "/assets/images/products/typen_spoed_keycords_bedrukken_2"
- image: "/assets/images/products/type_1_keycord_2"
- image: "/assets/images/products/type_2_keycord_2"
- image: "/assets/images/products/type_3_keycord_2"
- image: "/assets/images/products/badgehouder_pf_concept_1_3"
columns:
- col: Aantal
- col: Prijs keycord type 1
- col: Prijs keycord type 2
- col: Prijs keycord type 3
- col: Prijs per extra kleur opdruk
- col: Prijs pvc badge houder 10x8,8cm
table:
- amount: "25"
  price: "€ "
  col3: "€ "
  col4: "€ "
  col5: "€ "
  col6: "€ "
- amount: "50"
  price: "€ "
  col3: "€ "
  col4: "€ "
  col5: "€ "
  col6: "€ "
- amount: "75"
  price: "€ "
  col3: "€ "
  col4: "€ "
  col5: "€ "
  col6: "€ "
- amount: "100"
  price: "€ "
  col3: "€ "
  col4: "€ "
  col5: "€ "
  col6: "€ "
- amount: "250"
  price: "€ "
  col3: "€ "
  col4: "€ "
  col5: "€ "
  col6: "€ "
- amount: "500"
  price: "€ "
  col3: "€ "
  col4: "€ "
  col5: "€ "
  col6: "€ "
- amount: '1.000'
  price: "€ "
  col3: "€ "
  col4: "€ "
  col5: "€ "
  col6: "€ "
- amount: '2.500'
  price: "€ "
  col3: "€ "
  col4: "€ "
  col5: "€ "
  col6: "€ "
- amount: '5.0000'
  price: "€ "
  col3: "€ "
  col4: "€ "
  col5: "€ "
  col6: "€ "
jotform-id: "200600404330332"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-9">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-5">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-7">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
         <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: </td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: </td>
    </tr>
    <tr>
      <td><span class="table-blue">Opdruk</span></td>
      <td>: </td>
    </tr> 
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: </td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: </td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: niet meer leverbaar</td>
    </tr>
  </tbody>
</table>
<br>Dit product is helaas niet meer leverbaar.             
<br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-3 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->
