---
layout: doc_full
nav: pdp
cat-url: lolly-bedrukken
cat-title: lolly bedrukken
title: SNEL lolly in vierkant doosje bedrukken
title-page: 
description: Lollies bedrukken met uw logo; deze lolly is verpakt in een vierkant
  doosje dat rondom bedrukt wordt zoals u het wilt. Deze lolly in box is een een leuk
  en smaakvol weggevertje. Vraag vrijblijvend een offerte aan!
keywords: ''
main-image: "/assets/images/products/lollies_bedrukken_vierkant_doosje"
carousel:
- image: "/assets/images/products/lollies_bedrukken_vierkant_doosje"
- image: "/assets/images/products/lolly_vierkant_doosje_bedrukken"
- image: "/assets/images/products/lollie_bedrukken_vierkant_doosje"
- image: "/assets/images/products/lolly_in_box_bedrukken"
- image: "/assets/images/products/lolly_cube_bedrukken"
columns:
- col: Aantal
- col: Prijs per stuk incl. bedrukt doosje en lekkere lolly
table:
- amount: '1.000'
  price: "€ "
- amount: '2.000'
  price: "€ "
- amount: '5.000'
  price: "€ "
jotform-id: "201843807308354"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
      <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: </td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: </td>
    </tr>
    <tr>
      <td><span class="table-blue">Afmeting doosje</span></td>
      <td>: </td>
    </tr>
    <tr>
      <td><span class="table-blue">Houdbaarheid</span></td>
      <td>: </td>
    </tr>
    <tr>
      <td><span class="table-blue">Opdruk</span></td>
      <td>: </td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: </td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: </td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: niet meer leverbaar</td>
    </tr>  
</tbody>
</table>
<br>
<br>
<p>Dit product is helaas niet meer leverbaar.</p>
<br>
<br>   
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
        {% include form/jotform.html %}
            <!-- Start FORM -->
            {% include form/lol-snel-vdoos-201843807308354.html %}
           <!-- End FORM -->
    </div>
    <!-- Right Col END - Form -->
