---
layout: doc_full
nav: pdp
cat-url: keycords-lanyards-bedrukken
cat-title: keycords bedrukken
title: Snel keycords bedrukken
title-page:
description: Heb je snel bedrukte keycords nodig? Bij Allpremiums kun je met spoed
  keycords laten bedrukken. Met een levertijd van ca. 5 werkdagen kun je snel keycords
  bestellen. Vraag vrijblijvend een offerte aan of neem contact met ons op!
keywords: ''
main-image: "/assets/images/products/silicone_polsbandje_bedrukken_1"
carousel:
- image: "/assets/images/products/silicone_polsbandje_bedrukken_1"
- image: "/assets/images/products/bedrukt_en_swirl_marmer_effect"
- image: "/assets/images/products/silicone_polsbandjes_bedrukt_met_gekleurde_segmenten"
- image: "/assets/images/products/bedrukt_en_glow_in_the_dark"
- image: "/assets/images/products/bedrukte_silicone_polsbandjes_2"
columns:
- col: Aantal
- col: 30mm rond
- col: 36mm rond
- col: 35mm vierkant
- col: 22 x 55mm rechthoek
- col: 35mm ronde (extra sterk)
table:
- amount: "50"
  price: "€ 1,75"
  col3: "€ 1,79"
  col4: "€ 1,79"
  col5: "€ 1,79"
  col6: "€ 1,79"
- amount: "100"
  price: "€ 0,95"
  col3: "€ 0,99"
  col4: "€ 1,79"
  col5: "€ 1,79"
  col6: "€ 1,79"
- amount: "200"
  price: "€ 0,57"
  col3: "€ 0,61"
  col4: "€ 1,79"
  col5: "€ 1,79"
  col6: "€ 1,79"
- amount: "300"
  price: "€ 0,46"
  col3: "€ 0,50"
  col4: "€ 1,79"
  col5: "€ 1,79"
  col6: "€ 1,79"
- amount: "400"
  price: "€ 0,41"
  col3: "€ 0,45"
  col4: "€ 1,79"
  col5: "€ 1,79"
  col6: "€ 1,79"
- amount: "500"
  price: "€ 0,32"
  col3: "€ 0,36"
  col4: "€ 1,79"
  col5: "€ 1,79"
  col6: "€ 1,79"
- amount: "750"
  price: "€ 0,29"
  col3: "€ 0,33"
  col4: "€ 1,79"
  col5: "€ 1,79"
  col6: "€ 1,79"
- amount: "1000"
  price: "€ 0,25"
  col3: "€ 0,29"
  col4: "€ 1,79"
  col5: "€ 1,79"
  col6: "€ 1,79"
- amount: 1.250 >
  price: op aanvraag
  col3: op aanvraag
  col4: op aanvraag
  col5: op aanvraag
  col6: op aanvraag
jotform-id: "200600404330332"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-9">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-5">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-7">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
          <table border="0">
            <tbody>
              <tr>
                <td><span class="table-blue">Minimale afname</span></td>
                <td>: 50</td>
              </tr>
              <tr>
                <td><span class="table-blue">Besteleenheid</span></td>
                <td>: per stuk (u kunt er bijv. ook 267 bestellen)</td>
              </tr>
              <tr>
                <td><span class="table-blue">Levertijd</span></td>
                <td>: ca. 2 weken</td>
              </tr>
              <tr>
                <td><span class="table-blue">Leverbare kleuren</span></td>
                <td>: <a class="fa fa-file-text" href="#" onclick="window.open('/assets/pdf/PMS-Pantone-kleuren-overzicht.pdf', '_blank')" class="price"> PMS Pantone kleuren overzicht</a></td>
              </tr>
            </tbody>
          </table>
          <p>Siliconen polsbandjes bedrukken wij helemaal zoals u het wilt, in iedere kleur en altijd met uw eigen tekst of logo.</p>
          <ul>
            <li>gratis vrijblijvend ontwerp en digitale proef</li>
            <li>mooie 2mm dikke kwaliteit polsbandjes</li>
            <li>combineer verschillende kleuren in uw bestelling</li>
            <li>in vier standaard maten of uw eigen afmeting leverbaar</li>
            <li>op aanvraag per stuk verpakt of met opdruk binnenkant</li>
            <li>ook leverbaar met individuele naam of nummering</li>
          </ul>
          <p>Bij langdurig gebruik kan de opdruk na verloop van tijd gaan slijten. Voor een duurzaam effect kunt beter u kiezen voor een <a class="blue" href="https://www.allpremiums.nl/siliconen-polsbandjes-graveren-ingekleurde-gravering" title="silicone polsbandje met (ingekleurde) gravering">siliconen polsbandje met (ingekleurde) gravering</a>.</p>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-3 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->
