---
layout: doc_full
nav: pdp
cat-url: premiums
cat-title: premiums
title: Speelkaarten bedrukken met logo
title-page: 
description: 'Speelkaarten bedrukt met uw eigen logo. Gemaakt van de beste kwaliteit
  320 grams Kobaldeck karton met zwarte tussenlaag. Leverbaar met verschillende verpakkingen:
  folie en doosjes. Vraag een vrijblijvende offerte aan! '
keywords: ''
main-image: "/assets/images/products/speelkaarten_bedrukken"
carousel:
- image: "/assets/images/products/speelkaarten_bedrukken"
- image: "/assets/images/products/kaartspel_bedrukken_kunststof_doosje"
- image: "/assets/images/products/speelkaarten_bedrukken_in_kartonnen_doosje"
- image: "/assets/images/products/bedrukt_kaartspel_in_luxe_doosje"
columns:
- col: Aantal
- col: Type (1)
- col: Type (2)
- col: Type (3)
- col: Type (4)
table:
- amount: "75"
  price: "€ "
  col3: "€ 3,89"
  col4: "€ 4,29"
  col5: "€ 5,65"
- amount: "125"
  price: "€ "
  col3: "€ 3,49"
  col4: "€ 3,81"
  col5: "€ 5,01"
- amount: "250"
  price: "€ "
  col3: "€ 2,66"
  col4: "€ 2,81"
  col5: "€ 3,78"
- amount: "500"
  price: "€ "
  col3: "€ 2,07"
  col4: "€ 2,10"
  col5: "€ 2,91"
- amount: '1.000'
  price: "€ "
  col3: "€ 1,73"
  col4: "€ 1,68"
  col5: "€ 2,40"
- amount: '1.500'
  price: "€ "
  col3: "€ 1,60"
  col4: "€ 1,52"
  col5: "€ 2,20"
- amount: 2.000>
  price: 
  col3: op aanvraag
  col4: op aanvraag
  col5: op aanvraag
jotform-id: "200604632108342"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-9">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-5">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-7">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
<br>
<p>Prijzen zijn inclusief bedrukte speelkaarten en onder voorbehoud van prijswijzigingen. Vraag voor de actuele prijs een vrijblijvende offerte aan!</p>
<p>(1) Folie verpakking helaas niet meer leverbaar.</p>
<p>(2) Verpakt in transparant plastic doosje.</p>
<p>(3) Verpakt in bedrukt kartonnen doosje met vaste klep.</p>
<p>(4) Verpakt in luxe bedrukt kartonnen doosje met los deksel.</p>
<br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 75</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per 25</td>
    </tr>
    <tr>
      <td><span class="table-blue">Opdruk</span></td>
      <td>: full color cmyk, tweezijdig</td>
    </tr> 
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. instelkosten & transport</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: excl. 21% btw.</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 10 werkdagen</td>
    </tr>
  </tbody>
</table>
<br>Wij leveren ook aan particulieren en verenigingen.
<br><br>  
  <h2 class="pdp">Bedrukte speelkaarten</h2>               
<p>Speelkaarten bedrukken wij met uw eigen ontwerp op professioneel 320 grams karton. Het Kobaldeck karton heeft een zwarte tussenlaag, waardoor de kaartspellen ook geschikt zijn voor Bridge en Kaart verenigingen.</p>
<p>De bedrukte speelkaarten worden met verschillende verpakkingen geleverd: met een onbedrukt transparant folie, onbedrukt plastic doosje, bedrukt kartonnen klepdoosje of een luxe bedrukt doosje met een los deksel.</p>          
     <br>          
<h3 class="pdp">Kaartspel met eigen logo opdruk</h3>     
<ul>
  <li>internationaal bridge formaat: 56x87mm</li>
  <li>professionele kwaliteit</li>
  <li>320 grams Kobaldeck karton met zwarte tussenlaag</li>
  <li>opdruk tot aan de rand van de kaart of met 4mm witte rand</li>
</ul>  
     <br>      
<p>Bent u ook benieuwd naar de mogelijkheden om uw eigen speelkaarten te laten bedrukken? Neem dan vrijblijvend contact met ons op!  
</p>               
<br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-3 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->
