---
layout: doc_full
nav: pdp
cat-url: festivalbandjes
cat-title: Festivalbandjes
title: Textiel festivalbandjes bedrukken
title-page:
description: 'Textiel festivalbandjes bedrukken met uw eigen logo of tekst? Dit zijn
  de ideale stoffen polsbandjes voor feesten, evenementen en festivals. Leverbaar
  met verschillende sluitingen. '
keywords: ''
main-image: "/assets/images/products/festivalbandjes-bedrukken"
carousel:
- image: "/assets/images/products/festivalbandjes-bedrukken"
- image: "/assets/images/products/festivalbandjes-laten-maken"
- image: "/assets/images/products/festivalbandjes-kleine-oplage-bedrukken"
- image: "/assets/images/products/textiel-festivalbandjes-bedrukken"
- image: "/assets/images/products/satijn-festivalbandjes-stof-bedrukken"
- image: "/assets/images/products/textiel-festivalbandjes-van-stof-kopen"
- image: "/assets/images/products/stoffen-festivalbandjes-met-sluiting"
columns:
- col: Aantal
- col: Prijs incl. full color opdruk en sluiting
table:
- amount: "50"
  price: "€ 2,05"
- amount: "100"
  price: "€ 1,31"
- amount: "200"
  price: "€ 0,69"
- amount: "300"
  price: "€ 0,47"
- amount: "400"
  price: "€ 0,44"
- amount: "500"
  price: "€ 0,39"
- amount: "750"
  price: "€ 0,37"
- amount: '1.000'
  price: "€ 0,29"
- amount: 2.000>
  price: op aanvraag
jotform-id: "200586129765361"
---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
          <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 50 (per ontwerp)</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per stuk</td>
    </tr>
    <tr>
      <td><span class="table-blue">Afmeting</span></td>
      <td>: 350 x 15mm</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: andere afmetingen op aanvraag leverbaar</td>
    </tr>
    <tr>
      <td><span class="table-blue">Opdruk</span></td>
      <td>: full color</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 15 werkdagen</td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. instelkosten en transport</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: excl. 21% btw.</td>
    </tr>
  </tbody>
</table>
<br>Wij leveren ook aan particulieren en verenigingen.
<br><br>
<h2 class="pdp">Bedrukte satijn festivalbandjes</h2>
<p>kunt u laten maken in een kleine oplage vanaf slechts 50 stuks. Deze festivalbandjes zij gemaakt van een hele gladde en zachte stof, ook wel satijn genoemd. De polsbandjes worden altijd bedrukt met uw eigen ontwerp zoals uw tekst, logo of afbeelding. Door de full color sublimatie opdruk kunnen wij heel kleurrijk en ook met kleine details voor u bedrukken.</p>
 <p>Leverbaar met verschillende sluitingen: metaal of plastic, met of zonder weerhaakjes. Geleverd met weerhaakjes zijn de stoffen festival bandjes te gebruiken als toegangsbewijs voor een evenement. Zonder weerhaakjes is het festivalbandje een leuk promotiemiddel dat makkelijk om en afgedaan kan worden. </p>
<p>Voordat de productie start ontvangt u een digitale proef (jpeg), zodat u precies weet hoe de festivalbandjes gemaakt worden. Wilt u de opdruk na het zien van de digitale proef aanpassen? Doen we graag!</p>
<br>
<h2 class="pdp">Festivalbandjes van stof bedrukken</h2>
<ul>
  <li>altijd met uw eigen ontwerp / opdruk</li>
  <li>bijzonder zacht en comfortabel materiaal</li>
  <li>speciaal voor gedetailleerd ontwerp en kleine details</li>
  <li>combineer verschillende opdrukken in 1 bestelling!</li>
</ul>
<br>
<h2 class="pdp">Textiel festivalbandjes sluitingen</h2>
<p>De bedrukte festivalbandjes zijn met verschillende sluitingen leverbaar. Zo heeft u de keuze om de festivalbandjes juist wel of niet makkelijk van de pols af te kunnen halen. Alle sluitingen hebben dezelfde prijs.</p>
<ul>
  <li>wit & zwart plastic schuifsluiting met weerhaakjes</li>
  <li>afneembaar rond metaal bolletje</li>
  <li>platte metalen schuifsluiting (*)</li>
</ul>
<p>(*) De platte metalen sluiting is dicht te knijpen. U kunt er ook voor kiezen om dat niet te doen, dan zijn de festivalbandjes net zoals met het ronde metallen bolletje weer makkelijk van de pols af te halen. Voor het dichtknijpen heeft u overigens GEEN speciale dure tang nodig!</p>
<br>
<p>Wilt u verschillende ontwerpen  / opdrukken in 1 bestelling combineren? Geef dit bij de offerte aanvraag aan, zodat wij hier rekening mee kunnen houden. Meerprijs per extra ontwerp / drukwissel: +25,00.</p>
<br>
<p>Bent u ook benieuwd hoe uw festivalbandjes er uit komen te zien? Vraag dan een vrijblijvende offerte aan en ontvang een gratis digitaal voorbeeld (Jpeg afbeelding).</p>
<br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
        {% include form/jotform.html %}
            <!-- Start FORM -->
            {% include form/fest-bedr-200586129765361.html %}
           <!-- End FORM -->
    </div>
    <!-- Right Col END - Form -->
