---
layout: doc_full
nav: pdp
cat-url: waterflesjes-met-logo-bedrukken
cat-title: Waterflesjes bedrukken
title: Waterflesjes bedrukken 500ml schroefdop
title-page: 
description: 'Goedkoop en snel waterflesjes bedrukken. Uw eigen label op flesjes water
  met uw logo, tekst of productafbeelding bedrukt. '
keywords: ''
main-image: "/assets/images/products/waterflesjes_500ml_14_doppen"
carousel:
- image: "/assets/images/products/waterflesjes_500ml_14_doppen"
- image: "/assets/images/products/flesjes_water_bedrukken"
- image: "/assets/images/products/flesje_water_bedrukken_1"
- image: "/assets/images/products/waterflesje_bedrukken_1"
- image: "/assets/images/products/afbeelding_500ml_glad_platte_dop"
- image: "/assets/images/products/afbeelding_500ml_ribbel_platte_dop"
- image: "/assets/images/products/kleurwaarden_doppen_6"
columns:
- col: Aantal
- col: Prijs per stuk inclusief bedrukt label
table:
- amount: 36 (*)
  price: "€ 3,55"
- amount: 72 (*)
  price: "€ 2,55"
- amount: 108 (*)
  price: "€ 1,90"
- amount: 144 (*)
  price: "€ 1,85"
- amount: 180 (*)
  price: "€ 1,65"
- amount: 252
  price: "€ 1,50"
- amount: "504"
  price: "€ 1,20"
- amount: "774"
  price: "€ 1,10"
- amount: "1.008"
  price: "€ 0,99"
- amount: "1.872"
  price: "€ 0,95"
- amount: '2.808'
  price: "€ 0,90"
- amount: "3.744"
  price: "€ 0,85"
jotform-id: "200594548417359"
redirect_from:
- "/flesjes-water-bedrukken-logo-eigen-etiket/"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
          <br>
<p>(*) Deze aantallen worden bij het bestellen exact aangehouden. Vanaf 180 stuks kunt u met een meervoud van 18 waterflesjes bestellen.</p>
       <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 36</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per 18</td>
    </tr>
    <tr>
      <td><span class="table-blue">Houdbaarheid</span></td>
      <td>: 2 jaar na afvullen</td>
    </tr>
    <tr>
      <td><span class="table-blue">Opdruk</span></td>
      <td>: full color cmyk afgewerkt met glanslaminaat</td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. instelkosten en transport</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: excl. 9% btw.</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: excl. 0,15 statiegeld</td>
    </tr>    
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 8 werkdagen</td>
    </tr>
  </tbody>
</table>
<br>Wij leveren ook aan particulieren en verenigingen.
<br><br>
  <h2 class="pdp">Waterflesjes met schroefdop bedrukken 500ml</h2>
 <p>Waterflesjes met uw eigen etiket dat wij rondom full color bedrukken zoals u het wilt. Bedrukte flesjes water zijn leuk om weg te geven, helemaal wanneer u deze helemaal gepersonaliseerd kunt bestellen.</p>
<p>Wij gebruiken een kunststof etiket, u kunt dit vergelijken met een stevige sticker. Na de opdruk wordt het afgewerkt met een krasvast laminaat. Dit zorgt ervoor dat de opdruk goed beschermd blijf. Er komen geen krassen op en er kunnen ook geen watervlekken ontstaan, zoals u nog wel eens bij een papieren etiket ziet.</p>
<p>De flesjes zijn leverbaar in een gladde of geribbelde uitvoering, met 14 verschillende kleuren doppen.</p>
<p>Voorafgaand aan de productie ontvangt u een digitale proef ter controle en akkoord (pdf bestand), zodat u ziet hoe de waterflesjes voor u bedrukt worden.</p>
          <br>
<h2 class="pdp">Bedrukte waterflesjes met eigen logo 500ml schroefdop</h2>
<ul>
  <li>gratis label ontwerp of zelf ontwerpen</li>
  <li>helder transparante fles met Schots Mineraalwater</li>
  <li>plat of licht bruisend water</li>
  <li>fles is leverbaar in gladde en geribbelde uitvoering</li>
  <li>met 14 verschillende kleuren doppen</li>
  <li>wit of transparant kunststof label </li>
  <li>standaard full color opdruk met glossy uv coating</li>
</ul>
<br>
<p> Bent u ook benieuwd naar de mogelijkheden? Neem gerust contact met ons op voor advies, of vraag een vrijblijvende offerte aan!</p>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
        {% include form/jotform.html %}
            <!-- Start FORM -->
            {% include form/wat-schr-500-200594548417359.html %}
           <!-- End FORM -->
    </div>
    <!-- Right Col END - Form -->
