---
layout: default
nav: cat
title: Whiteboard magneten Bedrukken | Allpremiums
title-alt: Whiteboard magneten
description: Whiteboard en planbord magneten zijn leuke producten om op kantoor op
  te hangen of aan relaties en klanten weg te geven. Door de opdruk van uw logo, product
  of reclametekst blijft u continu onder de aandacht!
keywords: ''
img-left: whiteboard_magneten
img-right: usp_algemeen
redirect_from:
- "/whiteboard-magneten/"

---
<!-- Start Catalog Area -->
 <section class="blog-area bg-color1">
    <div class="blog-wrapper section-spacing bminus-30">
      <h1 class="heading-3 text-center">{{page.title-alt | upcase }}</h1>
      {% include breadcrumbs.html %}
      <a class="back-to visible-lg" aria-label="Terug naar vorige pagina" href="javascript: history.go(-1)"><i class="fa fa-angle-left" aria-hidden="true"></i> Terug naar vorige pagina </a>
      <div class="col-md-6 col-lg-12 tminus-20"></div>
       <div class="container">
          <div class="row">
             <div class="col-md-6 col-lg-12">
                <div class="row">
                   <div class="col-md-6">
                       <article class="looking-for-service wow fadeInLeft" data-wow-duration="1s">
                          <a href="{{page.url}}" title="{{page.title}}">
                            <picture>
                              <source srcset="/assets/images/banners/{{page.img-left}}.webp" type="image/webp">
                              <source srcset="/assets/images/banners/{{page.img-left}}.jpg" type="image/jpeg">
                                <img alt="{{page.title}}" src="/assets/images/banners/{{page.img-left}}.jpg">
                            </picture>
                         </a>
                       </article>
                   </div>
                   <div class="col-md-6">
                       <article class="looking-for-service wow fadeInRight" data-wow-duration="1s">
                           <a href="{{page.url}}" title="{{page.title}}">
                             <picture>
                               <source srcset="/assets/images/banners/{{page.img-right}}.webp" type="image/webp">
                               <source srcset="/assets/images/banners/{{page.img-right}}.jpg" type="image/jpeg">
                                 <img alt="{{page.title}}" src="/assets/images/banners/{{page.img-right}}.jpg">
                             </picture>
                           </a>
                       </article>
                   </div>
                </div>
                <div class="col-md-12">
                  <p>Whiteboard magneten, ook wel planbord of memo magneten genoemd, leveren wij in drie verschillende soorten: de bekende magneten met een directe opdruk, met een doming en uw eigen custom made vorm. Wij bedrukken de whiteboardmagneten altijd full color CMYK, zodat ook logo's en afbeeldingen mooi en kleurrijk bedrukt worden.</p>
<p>Heeft u nog vragen of wilt u aanvullende informatie? Bel: <a class="blue" href="tel:{{site.tel-link}}">{{site.tel}}</a></p>   
                </div>
                <div class="row">
                   {% for cat in site.data.cat_whiteboard %}
                       <div class="col-6 col-md-3">
                           <article class="looking-for-service wow {{cat.animation}}" data-wow-duration="1s">
                               <header class="headline-logo">
                                   <a href="{{cat.url}}" title="{{cat.title-img}}">
                                     <picture>
                                       <source srcset="/assets/images/products/{{cat.icon}}.webp" type="image/webp">
                                       <source srcset="/assets/images/products/{{cat.icon}}.jpg" type="image/jpeg">
                                         <img alt="{{page.title}}" src="/assets/images/products/{{cat.icon}}.jpg">
                                     </picture>
                                   </a>
                               </header>
                               <footer class="looking-for-content">
                                   <h3 class="heading-6 min-55"><a href="{{cat.url}}">{{cat.title}}</a></h3>
                                   <p>Vanaf {{cat.afname}}</p>
                                   <p>Levertijd ca. {{cat.levertijd}}</p>
                                   <p>Prijs bij <span class="price">{{cat.prijs}}</span></p>
                                   <a href="{{cat.url}}" title="{{cat.title-img}}" class="btn-style3 btn mt-3">Bekijk Product</a>
                               </footer>
                           </article>
                       </div>
                   {% endfor %}
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- End Catalog Area -->