---
layout: doc_full
nav: pdp
cat-url: whiteboard-magneten-bedrukken
cat-title: whiteboard magneten
title: White board magneten doming bedrukken
title-page: 
description: Whiteboard of planbord magneten bedrukken maken wij met een mooie 3D
  doming. Voorzien van uw logo, product afbeelding of reclame tekst is dit een mooi
  relatiegeschenk om weg te geven (of zelf op kantoor op te hangen). Vraag vrijblijvend
  een offerte aan!
keywords: ''
main-image: "/assets/images/products/bedrukte_whiteboard_magneet"
carousel:
- image: "/assets/images/products/bedrukte_whiteboard_magneet"
- image: "/assets/images/products/whiteboard-magneet"
- image: "/assets/images/products/bedrukte_whiteboard_magneten_2"
- image: "/assets/images/products/whiteboard-magneten_bedrukken"
columns:
- col: Aantal
- col: 'Prijs met afmeting: Ø 19,6mm'
- col: 'Prijs met afmeting: Ø 29.5mm'
- col: 'Prijs met afmeting: Ø 38,0mm'
table:
- amount: "100"
  price: "€ 1,32"
  col3: "€ 1,56"
  col4: "€ 2,24"
- amount: "250"
  price: "€ 0,71"
  col3: "€ 0,83"
  col4: "€ 1,17"
- amount: "500"
  price: "€ 0,45"
  col3: "€ 0,55"
  col4: "€ 0,82"
- amount: '1.000'
  price: "€ 0,35"
  col3: "€ 0,43"
  col4: "€ 0,66"
- amount: 2.500>
  price: op aanvraag
  col3: op aanvraag
  col4: op aanvraag
jotform-id: "200584976522360"
redirect_from:
- "/bedrukte-whiteboard-magneten-met-doming/"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
          <br>
 <table border="0">
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 100</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per stuk</td>
    </tr>
    <tr>
      <td><span class="table-blue">Opdruk</span></td>
      <td>: full color cmyk met doming</td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. instelkosten en transport</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: excl. 21% btw.</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 7 werkdagen</td>
    </tr>
  </tbody>
</table>
<br>Wij leveren ook aan particulieren en verenigingen.
<br><br>  
  <h3 class="pdp">Bedrukte Whiteboardmagneten met Doming</h3>           
<p>Bent u op zoek naar bedrukte whiteboard magneten met een extra effect? Kies dan voor deze whiteboard magneten met een doming!
</p>     
<p>De doming wordt gemaakt door een transparante harslaag op de bedrukking aan te brengen. Een leuk promotioneel product om op het eigen kantoor te gebruiken, of aan klanten en relaties weg te geven.</p>     
<p>De whiteboardmagneten zijn gemaakt van hard kunsstof. Aan de binnenkant / onderkant is een sterke magneet bevestigd, waar u ook papier mee vast kunt klemmen. De magneten zijn in het wit en zwart leverbaar met drie verschillende afmetingen:<p>            
<ul>
  <li>Ø 19,6mm / Ø 29,5mm / Ø 38,0mm</li>
  <li>altijd met uw eigen opdruk</li>
</ul>    
<br> 
    <p>Voorafgaand aan de productie ontvangt u een digitale proef ter controle en akkoord (pdf bestand), zodat u ziet hoe de magneten voor u bedrukt worden.</p>      
          <br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->