---
layout: doc_full
nav: pdp
cat-url: whiteboard-magneten-bedrukken
cat-title: whiteboard magneten
title: White board magneten bedrukken eigen vorm
title-page: 
description: 'Een uniek product: deze custom made whiteboard magneten met uw eigen
  vorm. Helemaal gemaakt en bedrukt zoals u het wilt. Vraag een vrijblijvende offerte
  aan of bel voor meer informatie! '
keywords: ''
main-image: "/assets/images/products/deonet_hard_kunststof_1_2"
carousel:
- image: "/assets/images/products/deonet_hard_kunststof_1_2"
- image: "/assets/images/products/deonet_hard_kunststof__2"
columns:
- col: Aantal
- col: Prijs met full color opdruk
- col: Prijs met full color opdruk en Doming
table:
- amount: "100"
  price: "€ 2,76"
  col3: "€ 3,57"
- amount: "250"
  price: "€ 1,21"
  col3: "€ 1,53"
- amount: "500"
  price: "€ 0,83"
  col3: "€ 1,10"
- amount: '1.000'
  price: "€ 0,65"
  col3: "€ 0,90"
- amount: '2.500'
  price: "€ 0,52"
  col3: "€ 0,76"
- amount: 5.000>
  price: op aanvraag
  col3: op aanvraag
jotform-id: "200585482015350"
redirect_from:
- "/bedrukte-whiteboard-magneten-eigen-vorm/"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
          <br>   
  <p>Prijzen in de tabel zijn voor iedere vorm en een grootte van maximaal 50cm2.</p>  
   <br>
  <table border="0">        
  <tbody>
    <tr>
      <td><span class="table-blue">Minimale afname</span></td>
      <td>: 100</td>
    </tr>
    <tr>
      <td><span class="table-blue">Besteleenheid</span></td>
      <td>: per stuk</td>
    </tr>
    <tr>
      <td><span class="table-blue">Opdruk</span></td>
      <td>: full color cmyk, ook met doming</td>
    </tr>
    <tr>
      <td><span class="table-blue">Prijs</span></td>
      <td>: incl. instelkosten en transport</td>
    </tr>
    <tr>
      <td><span class="table-blue"></span></td>
      <td>: excl. 21% btw.</td>
    </tr>
    <tr>
      <td><span class="table-blue">Levertijd</span></td>
      <td>: ca. 7 werkdagen</td>
    </tr>
  </tbody>
</table>
<br>Wij leveren ook aan particulieren en verenigingen.
<br><br>  
  <h2 class="pdp">Bedrukte whiteboard magneten met eigen vorm</h2>       
     <p>Whiteboard magneet, gemaakt van hard kunststof, die wij in iedere vorm met uw eigen opdruk maken. Op de achterkant is een klein maar sterk rond magneetje bevestigd.</p>
<p>Een leuk en opvallend promotioneel product, dat u ook heel goed als relatiegeschenk kunt weggeven. Hiermee blijft u continu onder de aandacht bij uw klanten!</p>             
<p>Deze custom made whiteboard magneten zijn leverbaar met een witte of zwarte onderkant / basiskleur. U kunt de full color opdruk ook laten afwerken met een doming (transparente bolle harslaag).</p>     
<p>Voorafgaand aan de productie ontvangt u een digitale proef ter controle en akkoord (pdf bestand), zodat u ziet hoe de magneten voor u bedrukt worden.<p>      
          <br>          
<h3 class="pdp">Custom made whiteboard magneten</h3>
<ul>
  <li>in iedere vorm met eigen opdruk leverbaar</li>
  <li>materiaal: hard onbuigbaar kunststof</li>
  <li>basiskleur / onderkant: wit of zwart</li>
  <li>minimale grootte: 12x12mm</li>
  <li>maximale grootte: 50cm2</li>
</ul>
          <br>
          <p>Bent u benieuwd naar de mogelijkheden? Neem dan vrijblijvend contact met ons op, ook voor een gratis sample!</p>        
<br>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
       {% include form/jotform.html %}
            <!-- Start FORM -->
            {% include form/mag-onbuig-200585482015350.html %}
           <!-- End FORM -->
    </div>
    <!-- Right Col END - Form -->
