---
layout: doc_full
nav: pdp
cat-url: premiums
cat-title: premiums
title: Zweetbandjes borduren
title-page: 
description: 'Zweetbandjes borduren met uw eigen logo of tekst. Deze geborduurde zweetbandjes
  zijn van de beste kwaliteit: met 5% lycra zodat ze ook na lange tijd mooi blijven.
  Vraag een vrijblijvende offerte aan!'
keywords: ''
main-image: "/assets/images/products/zweetbandje_borduren_1"
carousel:
- image: "/assets/images/products/zweetbandje_borduren_1"
- image: "/assets/images/products/zweetbandje_label_borduring"
- image: "/assets/images/products/zweetbandje_jacquard_weving_1_1"
columns:
- col: Aantal
- col: Prijs afmeting 7x8cm
- col: Prijs afmeting 10x8cm
- col: Prijs afmeting 12x8cm
table:
- amount: "100"
  price: "€ 3,08"
  col3: "€ 3,20"
  col4: "€ 3,33"
- amount: "250"
  price: "€ 2,19"
  col3: "€ 2,29"
  col4: "€ 2,39"
- amount: "500"
  price: "€ 1,69"
  col3: "€ 1,79"
  col4: "€ 1,89"
- amount: '1.000'
  price: op aanvraag
  col3: op aanvraag
  col4: op aanvraag
jotform-id: "200604269235349"

---
<!-- Left Col START - PDP img + table -->
    <div class="col-md-6 col-lg-8">
      <div class="row">
        <!-- Left Col START - PDP img -->
        <div class="col-md-6 col-lg-6">
          {% include carousel.html %}
        </div>
        <!-- Left Col END - PDP img -->
      <!-- Left Col START - PDP table -->
        <div class="col-md-6 col-lg-6">
          {% include table.html %}
        </div>
      </div>
        <!-- Left Col END - PDP table -->
      <div class="row">
        <!-- Left Col START - PDP content -->
        <div class="col-md-6 col-lg-12">
<p>Prijzen in de tabel zijn een indicatie voor alle typen zweetbandjes: borduring, geweven label, jacquard geweven. Actuele prijzen worden na ontvangst van de offerte aanvraag en uw logo bij de fabrikant opgevraagd.</p> 
          <p>Prijs zweetbandjes met rits op aanvraag, minimale afname 500 stuks.</p>       
          <br>
          <table border="0">
            <tbody>
              <tr>
                <td><span class="table-blue">Minimale afname</span></td>
                <td>: 100</td>
              </tr>
              <tr>
                <td><span class="table-blue">Besteleenheid</span></td>
                <td>: per 25</td>
              </tr>
              <tr>
                <td><span class="table-blue">Materiaal</span></td>
                <td>: katoen / spandex</td>
              </tr>
              <tr>
                <td><span class="table-blue">Afmeting (hxb)</span></td>
                <td>: 7x8cm / 10x8cm / 12x8cm / custom made</td>
              </tr>
              <tr>
                <td><span class="table-blue">Prijs</span></td>
                <td>: incl. instelkosten & transport</td>
              </tr>
              <tr>
                <td><span class="table-blue"></span></td>
                <td>: excl. 21% btw.</td>
              </tr>     
              <tr>
                <td><span class="table-blue">Levertijd</span></td>
                <td>: ca. 3 - 4 weken</td>
              </tr>
            </tbody>
          </table>
          <br><br>
          <h3 class="pdp">Geborduurde zweetbandjes</h3>       
<p>met uw logo of text. Het zweetbandje is gemaakt van een combinatie katoen en spandex. Dit zorgt ervoor dat vocht heel goed opgenomen wordt en dat de vorm van het zweetbandje ook na vele malen wassen mooi blijft. 
</p>     
<p>Het zweetbandje en de borduring zijn in alle kleuren leverbaar (ook met PMS / Pantone kleurnummers als referentie). Als extra optie kunnen wij ook een rits in het polsbandje aanbrengen zodat u bijvoorbeeld geld of een sleutel in het zweetbandje kunt opbergen.<p>    
<br>          
 <p>Leverbaar in 3 uitvoeringen:.<p>          
<ul>
  <li>directe borduring op het zweetbandje</li>
  <li>geweven label dat op het zweetbandje wordt vastgemaakt</li>
  <li>jacquard weving: met een andere kleur draad meegeweven </li>
</ul>    
<br> 
    <p>Voorafgaand aan de productie ontvangt u een digitale proef ter controle en akkoord (foto of pdf bestand), zodat u ziet hoe de zweetbandjes voor u geborduurd worden.</p>
        </div>
        <!-- Left Col END - PDP content -->
      </div>
    </div>
    <!-- Left Col Block END - PDP img + table -->
    <!-- Right Col START - Form -->
    <div class="col-md-4 mx-auto">
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{page.jotform-id}}"></script>
    </div>
    <!-- Right Col END - Form -->