<!-- Start Help Area -->
<section class="help-area bg-color2">
    <div class="help-wrapper inner-spacing">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <div class="help-section">
                        <p class="m-3 white-text">
                          <a href="{{site.url}}"><i class="fa fa-home orange" aria-hidden="true"></i></a>
                          <span> Meer informatie nodig? Bel:
                            <a href="tel:{{site.tel-link}}">{{site.tel}}</a> of mail naar:
                            <a href="mailto:{{site.email}}">{{site.email}}</a>
                          </span>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 d-flex themeix-highlight  justify-content-md-end justify-content-center">
                    <div class="help-btn align-self-center themeix-highlight">
                        <a href="tel:{{site.tel-link}}" class="btn-style3 btn">bel ons</a>
                        <a href="mailto:{{site.email}}" class="btn-style3 btn">e-mail ons</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Help  Area -->
