<article class="looking-for-service">
  {% for slider in page.carousel %}
  <picture>
      <source data-srcset="{{slider.image}}.webp" type="image/webp">
      <source data-srcset="{{slider.image}}.jpg" type="image/jpeg">
      <img class="slides lazy" alt="{{page.title}}" src="{{slider.image}}.jpg" style="width:100%">
  </picture>
  {% endfor %}
  <i class="fa fa-angle-left sl-display-left home-top" aria-hidden="true" onclick="plusDivs(-1)"></i>
  <i class="fa fa-angle-right sl-display-right home-top" aria-hidden="true" onclick="plusDivs(1)"></i>
</article>
<style>
.slides {display:none;}
.sl-display-left{position:absolute;top:50%;left:0%;padding:10px;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.sl-display-right{position:absolute;top:50%;right:0%;padding:10px;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
</style>
<script>
var slideIndex = 1; showDivs(slideIndex); function plusDivs(n) { showDivs(slideIndex += n); } function showDivs(n) { var i; var x = document.getElementsByClassName("slides"); if (n > x.length) {slideIndex = 1} if (n < 1) {slideIndex = x.length} for (i = 0; i < x.length; i++) { x[i].style.display = "none"; } x[slideIndex-1].style.display = "block"; }
</script>
