<article class="looking-for-service">
  {% for slider in page.carousel %}
  <a href="{{slider.image}}.webp" class="progressive replace">
    <img src="/assets/images/placeholder.webp" class="slides preview" alt="{{page.title}}" style="width:100%">
  </a>
  {% endfor %}
  <i class="fa fa-angle-left sl-display-left home-top" aria-hidden="true" onclick="plusDivs(-1)"></i>
  <i class="fa fa-angle-right sl-display-right home-top" aria-hidden="true" onclick="plusDivs(1)"></i>
</article>
<style>
.slides {display:none;}
.sl-display-left{position:absolute;top:50%;left:0%;padding:10px;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.sl-display-right{position:absolute;top:50%;right:0%;padding:10px;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
</style>
<script>
var slideIndex = 1; showDivs(slideIndex); function plusDivs(n) { showDivs(slideIndex += n); } function showDivs(n) { var i; var x = document.getElementsByClassName("slides"); if (n > x.length) {slideIndex = 1} if (n < 1) {slideIndex = x.length} for (i = 0; i < x.length; i++) { x[i].style.display = "none"; } x[slideIndex-1].style.display = "block"; }
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/progressive-image.js/dist/progressive-image.css">
<script src="https://cdn.jsdelivr.net/npm/progressive-image.js/dist/progressive-image.js"></script>
