<!-- Start Footer Area -->
<footer class="footer-area bg-color3">
    <div class="footer-wrapper section-spacing bminus-30">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="footer-widget wow fadeIn" data-wow-duration="1s">
                        <h5 class="footer-title heading-5">Over Allpremiums.nl</h5>
                        <p>Wij helpen u reclame te maken voor uw bedrijf, product, dienstverlening of evenement door het leveren van promotionele artikelen.</p>
                    </div>
                    <div class="footer-widget wow fadeIn" data-wow-duration="1s">
                        <h5 class="footer-title heading-5">Contact informatie</h5>
                        <p>
                          Allpremiums<br>
                          Kagertuinen 75<br>
                          NL - 2172 XK Sassenheim<br>
                          <br>
                          <a href="tel:{{site.tel-link}}">Telefoon: {{site.tel}}</a><br>
                          <a href="mailto:{{site.email}}">E-mail: {{site.email}}</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="footer-widget wow fadeIn" data-wow-duration="2s">
                        <h5 class="footer-title heading-5">Meer info</h5>
                        <ul class="footer-category list-inline">
                            <li><a href="/wie-zijn-wij">Wie zijn wij</a></li>
                            <li><a href="/aanleverspecificaties">Aanleverspecificaties</a></li>
                            <li><a href="/algemene-voorwaarden">Algemene voorwaarden</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget wow fadeIn" data-wow-duration="3s">
                        <h5 class="footer-title heading-5">Producten</h5>
                        <ul class="footer-category list-inline">
                        {%  include nav_footer.html %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget wow fadeIn" data-wow-duration="4s">
                        <h5 class="footer-title heading-5">Laatste nieuws</h5>
                        <ul class="footer-socials list-inline">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-wrapper">
        <div class="container">
            <div class="footer-copyright text-center">
                <p> &copy; Copyright {{ site.time | date: '%Y' }} {{site.title}}</p>
            </div>
        </div>
    </div>
    <a href="#" class="home-top"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
</footer>
<!-- End Footer Area -->
