<!-- Start Headline Area -->
<div class="headline-area bg-color1">
    <div class="headline-wrapper ">
        <div class="container">
            <div class="row">
                {% for service in site.data.services %}
                    <div class="col-md-6 col-lg-4">
                        <div class="headline-box wow fadeInUp" data-wow-duration="1s" style="visibility:visible; animation-duration:1s; animation-name:fadeInUp;">
                            <div class="headline-logo">
                                <a href="{{service.url}}" alt="{{service.title-img}}"><img src="{{service.icon}}" alt="{{service.title}}"></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- End Headline Area -->
