<!-- Start Header Area -->
<header class="header-area">
    <div class="header-navigation">
        <div class="container">
            <div class="navigation-box">
                <div class="navigation-left">
                    <a class="header-logo" href="{{site.url}}"><img src="{{site.baseurl}}/assets/images/allpremiums-logo.svg" alt="{{site.title}}"></a>
                </div>
                <div class="navigation-right">
                  <nav class="navigation-navbar">
                    <ul id="navigation-menu" class="slimmenu">
            				{% for link in site.data.navigation %}
            					{% assign active = nil %}

            					{% for sublink in link.submenu %}
            						{% if page.url contains sublink.url %}
            							{% assign active = 'active' %}
            						{% endif %}
            					{% endfor %}

            					{% if page.url contains link.url %}
            						{% assign active = 'active' %}
            				{% endif %}
					               <li class="{{ active }}{% if link.submenu %} dropdown has-children{% endif %}">
						              <a href="{{ link.url|prepend:site.baseurl }}">{{ link.text }}</a>
              						{% if link.submenu %}
              							<ul class="dropdown-item" role="menu">
              								{% for sublink in link.submenu %}
              									<li {% if page.url contains sublink.url %}class="active"{% endif %}>
              										<a href="{{ sublink.url|prepend:site.baseurl }}">{{ sublink.text }}</a>
              									</li>
              								{% endfor %}
              							</ul>
              						{% endif %}
              					</li>
              				{% endfor %}
              			 </ul>
                  </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Header Area -->
