<!-- Start Headline Area -->
<div class="headline-area bg-color1">
    <div class="headline-wrapper ">
        <div class="container">
          <div class="row">
            <div class="order-12 col-md-5 order-lg-1 col-lg-3">
               {% include nav_cat.html %}
            </div>
            <div class="order-0 col-md-6 order-lg-12 col-lg-9">
              <div class="row">
                {% for grid in site.data.homepage_grid %}
                    <div class="col-md-6 col-lg-4">
                        <div class="headline-box wow fadeInUp" data-wow-duration="1s" style="visibility:visible; animation-duration:1s; animation-name:fadeInUp;">
                            <div class="headline-logo">
                                <a href="{{grid.url}}" title="{{grid.title-img}}">
                                  <picture>
                                    <source srcset="{{grid.icon}}.webp" type="image/webp">
                                    <source srcset="{{grid.icon}}.jpg" type="image/jpeg">
                                      <img alt="{{grid.title}}" src="{{grid.icon}}.jpg">
                                  </picture>
                                </a>
                            </div>
                            <div class="headline-content">
                                <h4 class="heading-13"><a href="{{grid.url}}">{{grid.title}}</a></h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<!-- End Headline Area -->
