  <div id="price-table" class="clearfix">
     <div class="table-description clearfix">
        <table border="0" class="amountprice">
            <col style="width:50%">
            <col style="width:50%">
            <thead>
            <tr>
              <th>Aantal</th>
              <th>Prijs per stuk</th>
              {% if table.col3 %}
              <th>Col 3</th>
              {% endif %}
              {% if table.col4 %}
              <th>Col 4</th>
              {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for table in page.table %}
            <tr>
              <td>{{table.amount}}</td>
              <td>{{table.price}}</td>
              {% if table.col3 %}
              <td>{{table.col3}}</td>
              {% endif %}
              {% if table.col4 %}
              <td>{{table.col4}}</td>
              {% endif %}
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </table>
     </div>
  </div>
