  <div id="price-table" class="clearfix">
     <div class="table-description clearfix">
        <table border="0" class="table-bordered table-striped table-sm">
            <thead>
            <tr>
              {% for columns in page.columns %}
              <th scope="col">{{columns.col}}</th>
              {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for table in page.table %}
            <tr>
              <td>{{table.amount}}</td>
              <td>{{table.price}}</td>
              {% if table.col3 %}
              <td>{{table.col3}}</td>
              {% endif %}
              {% if table.col4 %}
              <td>{{table.col4}}</td>
              {% endif %}
              {% if table.col5 %}
              <td>{{table.col5}}</td>
              {% endif %}
              {% if table.col6 %}
              <td>{{table.col6}}</td>
              {% endif %}
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </table>
     </div>
  </div>
