---
layout: compress
---
<!DOCTYPE html>
<html lang="nl">
<head>
    <!-- meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="manifest" href="{{ site.url }}/manifest.json">
	<meta name='description' content='{% if page.description %}{{ page.description | truncate: 320 }}{% else %}{{ site.description | truncate: 320 }}{% endif %}'>
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords}}{% else %}{{ site.keywords }}{% endif %}">
  <meta name="theme-color" content="#0d65b0">

  <!-- Facebook Open Graph -->
	<meta content="{{ site.title }}" property="og:site_name">
	<meta property="og:locale" content="nl_NL" />
	{% if page.title %}<meta content="{{ page.title }}" property="og:title">{% else %}<meta content="{{ site.title }}" property="og:title">{% endif %}
	{% if page.title %}<meta content="article" property="og:type">{% else %}<meta content="website" property="og:type">{% endif %}
	{% if page.description %}<meta content="{{ page.description }}" property="og:description">{% else %}<meta content="{{ site.description }}" property="og:description">{% endif %}
	{% if page.url %}<meta content="{{ site.url }}{{ page.url }}" property="og:url">{% endif %}
	{% if page.post_image %}<meta content="{{ page.post_image }}" property="og:image">{% else %}<meta content="{{ site.cover_image }}" property="og:image">{% endif %}
	{% if page.tag %}{% for tag in page.tag %}<meta content="{{ tag }}" property="article:tag">{% endfor %}{% endif %}
	{% if page.categories %}{% for category in page.categories limit:1 %}<meta content="{{ category }}" property="article:section">{% endfor %}{% endif %}
	{% if page.date %}<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">{% endif %}

  <meta name="robots" content="{{ site.robots }}"/>

    <!-- Site Title -->
    <title>{% if page.title %} {{page.title}} {% else %} {{site.title}} {% endif %}</title>
    <link rel="dns-prefetch" href="{{site.url}}">
    <!--  Add Favicon -->
    <link rel="shortcut icon" href="{{site.baseurl}}/assets/images/favicon.png" type="image/x-icon"/>
    <link rel="icon" href="{{site.baseurl}}/assets/images/favicon.png" type="image/x-icon"/>

    <link rel="alternate" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" hreflang="x-default" />
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}"/>
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url}}/feed.xml">

    <script type="application/ld+json">{% include metadata.json %}</script>
    <script type="application/ld+json">{% include breadcrumb.json %}</script>

    <!-- Add CSS File -->
    <style type="text/css">
    {% capture include_to_scssify %}
      {% include css/app.min.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
    </style>
</head>
<body>
    {% include header.html %}
    {% include page_header.html %}
    {% include call_to_action_header.html %}


    {{content}}
    {% include call_to_action_footer.html %}
    {% include footer.html %}
    <!-- Add Javascript File -->
   <script src="{{site.baseurl}}/assets/js/build.min.js"></script>
   {% if page.nav == 'pdp' %}
   <script src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
   <script src="{{site.baseurl}}/assets/js/yall.min.js"></script>
   <script>
     document.addEventListener("DOMContentLoaded", function() {
       yall({
         observeChanges: true,
         events: {
           load: function (event) {
             if (!event.target.classList.contains("lazy") && event.target.nodeName == "IMG") {
               event.target.classList.add("yall-loaded");
             }
           },
           error: {
             listener: function (event) {
               if (!event.target.classList.contains("lazy") && event.target.nodeName == "IMG") {
                 event.target.classList.add("yall-error");
                 event.target.nextElementSibling.classList.add("visible");
               }
             },
             options: {
               once: true
             }
           }
         }
       });
     });
   </script>
   {% endif %}
</body>
</html>
