---
layout: default
---

{% include header.html %}
<section class="page-title-area bg-cover1">
 <div class="page-title-wrapper section-spacing">
    <div class="page-title text-center white-text">
    </div>
 </div>
<!-- Start Layout  Area -->
<section class="layout-area bg-color1 tutorial">
    <div class="layout-wrapper section-spacing bminus-30">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="heading-3 text-center">{{page.title}}</h1>
                    <div class="container">
                       <div class="row">
                      {{content}}
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Layout Area -->
{% include footer.html %}
