---
layout: default
---
 <!-- Start Blog  Area -->
 <section class="blog-area bg-color1">
    <div class="blog-wrapper section-spacing bminus-30">
      <h1 class="heading-3 text-center">{{page.title}}</h1>
      <a class="back-to visible-lg" aria-label="Terug naar vorige pagina" href="javascript: history.go(-1)"><i class="fa fa-angle-left" aria-hidden="true"></i> Terug naar vorige pagina </a>
       <div class="container">
          <div class="row">
             <div class="order-12 col-md-5 order-lg-1 col-lg-4 ">
               {% include sidebar.html %}
             </div>
             <div class="order-0 col-md-7 order-lg-12 col-lg-8 ">
                {% include post_loop.html %}
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- End Blog Area -->
